<span>
{% if not nolink %} {# double negative to change default case #}
    {% if member.equiv_user.get_full_name and not short %}
        <span class="text-nowrap">{% if fullname %}{{ member.equiv_user.get_full_name }}{% else %}{{ member.equiv_user.first_name }}{% endif %}</span>
        <span class="text-nowrap"> ( {% if not avatarless %}<img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">{% endif %}
        <a class="{{ link_class }}" href="{% url 'users:user' member.id %}">{{ member }}</a> {% if member.badge_type %}
            <i class="{{ member.badge_icon }}" title="{{ member.badge_title }}"></i>
        {% endif %} )</span>
    {% else %}
        <span class="text-nowrap">
            {% if not avatarless %}
            <img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">
        {% endif %}
        <a class="{{ link_class }}" href="{% url 'users:user' member.id %}">{{ member }}</a>
        {% if member.badge_type %}
            <i class="{{ member.badge_icon }}" title="{{ member.badge_title }}"></i>
        {% endif %}
        </span>
    {% endif %}
{% else %}
    {% if member.equiv_user.get_full_name and not short %}
        <span class="text-nowrap">{% if fullname %}{{ member.equiv_user.get_full_name }}{% else %}{{ member.equiv_user.first_name }}{% endif %}</span>
        <span class="text-nowrap"> ( {% if not avatarless %}<img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">{% endif %} {{ member }} {% if member.badge_type %}
            <i class="{{ member.badge_icon }}" title="{{ member.badge_title }}"></i>
        {% endif %} )</span>
    {% else %}
        <span class="text-nowrap">
        {% if not avatarless %}
            <img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">
        {% endif %}
        {{ member }}{% if member.badge_type %}
            <i class="{{ member.badge_icon }}" title="{{ member.badge_title }}"></i>
        {% endif %}
        </span>
    {% endif %}

{% endif %}
</span>