{% extends 'tgrsite/main.html' %}
{% load markdown_tags %}

{% block title %}{{ election.name }} - Votes{% endblock %}
{% block pagetitle %}{{ election.name }}{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url 'votes:elections' %}">Votes</a></li>
{% endblock %}
{% block breadcrumbs_child %}{{ election.name }}{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.votes.change_elections %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:votes_election_changelist" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="modal fade" id="resolveModal" tabindex="-1" aria-labelledby="resolveModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resolveModalTitle">Submit Vote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Submit Vote</strong></p>
                    <p>
                        You will not be able to change your vote after this point
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="voteform">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% if election.description %}
                <div class="mb-3">
                    {{ election.description|parse_md_safe }}
                </div>
            {% endif %}
            {% block alerts %}
                {% if election.max_votes != 0 %}
                    {% if election.max_votes == 1 %}
                        <div class="alert alert-primary">Please select a single option.</div>
                    {% else %}
                        <div class="alert alert-primary">Please select up to {{ election.max_votes }} options.</div>
                    {% endif %}
                {% endif %}
            {% endblock %}
            {% if errors %}
                {% for e in errors %}
                    <div class="alert alert-danger">{{ e }}</div>
                {% endfor %}
            {% endif %}
            <form method="post" id="voteform">
                {% csrf_token %}
                {% for choice in choices %}
                    {% block voteelement %}
                        <input type="checkbox" class="d-none" name="selection"
                               id="{{ choice.formid }}"
                               value="{{ choice.id }}">
                    {% endblock %}
                    <div class="card vote-option mb-3">
                        <label class="mb-0 card-header" for="{{ choice.formid }}" class="">
                            {{ choice.name }}
                        </label>
                        {% if choice.description|parse_md_text %}
                            <div class="card-body markdown-text">
                                {{ choice.description|parse_md_text }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </form>
            <button class="btn-outline-primary btn-block btn" data-toggle="modal" data-target="#resolveModal">Submit Vote</button>
        </div>
    </div>
{% endblock %}

