{% extends 'tgrsite/main.html' %}

{% block title %}Votes{% endblock %}
{% block pagetitle %}Votes{% endblock %}

{% block breadcrumbs_child %}Votes{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.votes.change_elections %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:votes_election_changelist" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    {% if perms.votes.change_elections %}
    <p>
        <a href="{% url "votes:admin" %}"
           class="btn btn-outline-warning btn-block">
            Admin
        </a>
    </p>
    {% endif %}
    <div class="list-group">
        {% for election in object_list %}
            <a href="{% url "votes:vote" election.id %}"
               class="list-group-item list-group-item-action">
                {{ election.name }}
            </a>
        {% empty %}
            <div class="list-group-item text-muted">No elections currently available. Please check back later.</div>
        {% endfor %}
    </div>
{% endblock %}