{% extends 'tgrsite/main.html' %}

{% block title %}Votes{% endblock %}
{% block pagetitle %}Votes{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url 'votes:elections' %}">Votes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'votes:admin' %}">Admin</a></li>
{% endblock %}
{% block breadcrumbs_child %}Tickets{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.votes.change_tickets %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:votes_ticket_changelist" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    <h2>Create Ticket by...</h2>
    <p>
        <a href="{% url "votes:tickets_id" %}"
           class="btn btn-outline-success btn-block">
            ID list
        </a>
    </p>
    <p>
        <a href="{% url "votes:tickets_date" %}"
           class="btn btn-outline-success btn-block">
            Verification Date
        </a>
    </p>
{% endblock %}