{% if field.field.widget.input_type == "checkbox" or field.field.widget.input_type == "radio" %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <div class="{{ field.field.widget.input_type }}">
            <label class="control-label" for="{{ field.id_for_label }}">
                {{ field }}{{ field.label }}
            </label>
            {% if field.errors %}
                <p class="help-block">{{ field.errors }}</p>
            {% elif field.help_text %}
                <p class="help-block">{{ field.help_text }}</p>
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
            <p class="help-block">{{ field.errors }}</p>
        {% elif field.help_text %}
            <p class="help-block">{{ field.help_text }}</p>
        {% endif %}
    </div>
{% endif %}