<span>
{% if not nolink %} {# double negative to change default case #}
    {% if member.equiv_user.get_full_name and not short %}
        {{ member.equiv_user.get_full_name }} <span class="text-nowrap">( {% if not avatarless %}<img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">{% endif %}
        <a href="{% url 'users:user' member.id %}">{{ member }}</a>{% if member.badge %}
            <i class="{{ member.badge }}"></i>
        {% endif %} )</span>
    {% else %}
        <span class="text-nowrap">
            {% if not avatarless %}
            <img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">
        {% endif %}
        <a href="{% url 'users:user' member.id %}">{{ member }}</a>
        {% if member.badge %}
            <i class="{{ member.badge }}"></i>
        {% endif %}
        </span>
    {% endif %}
{% else %}
    {% if member.equiv_user.get_full_name and not short %}
        <span class="text-nowrap">{{ member.equiv_user.get_full_name }}</span> <span class="text-nowrap">( {% if not avatarless %}<img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">{% endif %} {{ member }}{% if member.badge %}
            <i class="{{ member.badge }}"></i>
        {% endif %} )</span>
    {% else %}
        <span class="text-nowrap">
        {% if not avatarless %}
            <img class="inline-gravatar" src="{{ member.gravatar }}" alt="Avatar for {{ member }}">
        {% endif %}
        {{ member }}{% if member.badge %}
            <i class="{{ member.badge }}"></i>
        {% endif %}
        </span>
    {% endif %}

{% endif %}
</span>