{% extends 'tgrsite/main.html' %}
{% load staticfiles %}

{% block title %}Gallery{% endblock %}
{% block pagetitle %}Gallery{% endblock %}

{% block breadcrumbs_child %}Gallery{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
          integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous"/>
{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.gallery.change_galleryimage %}
        <a class="btn btn-block btn-outline-dark" href="{% url "admin:gallery_galleryimage_changelist" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        {% for img in images %}
            <a class="m-2" href="{{ img.image.url }}" data-toggle="lightbox" data-gallery="tabletop"
               data-title="{{ img.caption }}">
                <img src="{{ img.image.url }}" class="img-fluid img-thumbnail" alt="{{ img.caption }}" width="280px">
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block bottomscripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
            integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock %}
