{% extends 'tgrsite/basecontent.html' %}
{% load static %}
{% load markdown_tags %}
{% load property_tags %}

{% comment %}
THIS IS DIRECTLY USED BY THE NEWSLETTER DETAIL VIEW ONLY.
This allows for scripts to be imported.
Note that this forms the base of the main view,
which the rest of the site extends.
This defines the navbar and the extra scripts.
{% endcomment %}

{% block head %}
    {{ block.super }}
    {# Add some SEO metadata to help discoverability #}
    <meta name="keywords" content="Warwick, D&D, Tabletop, Boardgames, Board Games, Dungeons and Dragons, Card Games, Wargaming, Role Play, LARP, student, MTG, Magic, Magic the Gathering, Coventry">
    <meta name="description" content="Warwick Tabletop and Role-Playing Society provides Warwick students with access to role-playing, board games, LARP, CCGs and a community to engage with these activities.">
{% endblock %}

{% block topscripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{% static 'bootstrap3-typeahead.js' %}"></script>

    {% comment font icons library %}{% endcomment %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>


    <!-- For the footer: -->
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        #not-footer {
            flex: 1;
        }

        #footer {
            /*background-color: #333;
            color: #9d9d9d;*/
            background-color: #eee;
        }

        #footer-content {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .footer-link {
            display: inline;
            padding-left: 3%;
            padding-right: 3%;
            white-space: nowrap;
        }

        .footer-link a:link,
        .footer-link a:hover,
        .footer-link a:active,
        .footer-link a:visited {
            color: #444;
        }

    </style>

{% endblock %}

{% block bootstrap %}
    <link type="text/css" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <!-- hamburger menu -->
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="{% static 'logo_purple.png' %}" class="brand-img" alt="Home">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-fw fa-users"></i> The Society <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{% url 'exec' %}">
                                <i class="fas fa-fw fa-user-tie"></i> Exec
                            </a></li>

                            <li><a href="{% url 'gallery' %}">
                                <i class="fas fa-fw fa-image"></i> Photo Gallery
                            </a></li>

                            <li><a href="{% url 'newsletters_index' %}">
                                <i class="far fa-fw fa-newspaper"></i> Newsletters
                            </a></li>
                        </ul>
                    </li>


                    <li><a href="{% url 'timetable' %}">
                        <i class="fas fa-fw fa-calendar-alt"></i> Schedule
                    </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-fw fa-comments"></i> Social <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">

                            <li><a href="{% url 'forum' %}">
                                <i class="fas fa-fw fa-quote-left"></i> Forum
                            </a></li>

                            <li><a href="{% url 'message:message_list' %}">
                                <i class="fas fa-fw fa-comment"></i> Messages
                            </a></li>

                        </ul>
                    </li>


                    <li><a href="{% url 'rpgs' %}">
                        <i class="fas fa-fw fa-magic"></i> Events
                    </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-fw fa-hat-wizard"></i> LARP <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="/page/larp">
                                <i class="fas fa-fw fa-info-circle"></i> Introduction
                            </a></li>
                            <li><a href="{% string_setting "inventory_larp" %}">
                                <i class="fas fa-fw fa-shield-alt"></i> Equipment
                            </a></li>
                            <li><a href="{% string_setting "larp_rules" %}">
                                <i class="fas fa-fw fa-scroll"></i> Rulebook
                            </a></li>
                            <li><a href="{% string_setting "larp_setting" %}">
                                <i class="fas fa-fw fa-atlas"></i> Lorebook
                            </a></li>
                        </ul>
                    </li>

                    <li><a href="{% string_setting "inventory_bg" %}">
                        <i class="fas fa-chess"></i> Boardgames
                    </a></li>

                    <li><a href="{% url 'sponsorships' %}">
                        <i class="fas fa-fw fa-handshake"></i> Our Sponsors
                    </a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        {% comment %}
                            I know it's bad to do inline CSS but for some reason it wouldn't work otherwise.
                            Please forgive me, web development gods.
                        {% endcomment %}
                        <li><a href="{% url 'all_notifications' %}"
                               {% if request.user.member.notification_count > 0 %}style="color: #f04747;"{% endif %}><i
                                class="fa fa-bell"
                                aria-label="Notifications"></i> {{ request.user.member.notification_count }}</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block messages %}
    {% if messages %}
        <div class="alerts">
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <div id="footer-content">
        <div class="footer-link"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;<a
                href="//www.facebook.com/TAGAROPLE/">Facebook</a></div>
        <div class="footer-link"><i class="fa fa-external-link-square" aria-hidden="true"></i>&nbsp;<a
                href="//www.warwicksu.com/societies/sff/">Warwick SU Page</a></div>
        <div class="footer-link"><i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp;<a href="/page/privacy">Privacy
            Policy</a></div>
        <div class="footer-link"><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;<a
                href="/page/content-policy">Content Policy</a></div>
    </div>
{% endblock %}

{% block bottomscripts %}
    {{ block.super }}
    <script>
        function nasa() {
            $('img').each(function (index, element) {
                id = ['01120', '01002', '01003', '01005', '01008', '01153', '01581'][Math.floor(Math.random() * 7)]
                u = 'https://images-assets.nasa.gov/image/PIA' + id + '/PIA' + id + '~orig.jpg'
                //$(element).attr('src', u)
                $(element).replaceWith($('<img src="' + u + '">'))
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            console.log("Getting ready.");
            window.simplemde = [];
            $(".markdown-input").each(function (i, e) {
                console.log("Element " + e);
                window.simplemde.push(
                    new EasyMDE({
                        element: e,
                        placeholder: "Write Markdown (or just regular text) here...",
                        forceSync: true,
                        autoDownloadFontAwesome:false,
                    })
                );
            });
        });
    </script>
{% endblock %}
