{% load static %}
{% load markdown_tags %}

{% comment %}
THIS IS USED BY THE EMAIL VERSION OF THE NEWSLETTER ONLY.
So all scripts should instead be added in addnavbar, the next template up,
using the topscripts and bottomscripts blocks.
This defines the global grid format - a col3 sidebar, a col6 body and a col3 sidebar.
{% endcomment %}

<title>{% block title %}{% endblock %} - warwicktabletop.co.uk</title>

<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% comment %} For scripts we don't want at the top of the email. {% endcomment %}
{% block topscripts %}
{% endblock %}

{% block head %}
	{% comment %}
		Custom per-page includes such as the gallery plugin on the Gallery page.
	{% endcomment %}
{% endblock %}

<style>

	.latest {
		margin-bottom: 10px;
	}
	img.avatar {
		width: 128px;
		height: 128px;
	}
	img.brand-img {
		width: 32px;
		height: 32px;
		margin-top: -5px;
	}
	.navbar {
		border-radius: 0;
	}
	.jumbotron {
		text-align: center;
	}
	.nobullet {
		padding: 0;
		list-style-type: none;
	}

	.wordwrap {
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
	white-space: pre-wrap;
		word-wrap: break-word;
		white-space: -webkit-pre-wrap;
		word-break: break-word;
		white-space: normal;
	}

	article img {
		max-width: 100%; /* Don't overflow. */
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.errorlist {
		color: #a94442;
	}

	.CodeMirror {
		height: 200px;
	}
	.CodeMirror-scroll {
		min-height: 0px;
	}

</style>

{% block css %}
	{% comment %}
		This is where a page's custom CSS will go, or a link to the relevant stylesheet I guess.
	{% endcomment %}
{% endblock %}

<div id="not-footer">
	{% block navbar %}{% endblock %}

	<!-- page -->
	<div class="container-fluid">
	{% comment %}
	<!--this was here in case people preferred page headings to be
	above all content including sidebars. the people I surveyed preferred the old way.
	Might do an A/B test on the entire site at some point-->
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<h1>{% block heading %}{% endblock %}</h1>
			</div>
			<div class="col-md-3"></div>
		</div>
	{% endcomment %}
		<div class="row">
			<div class="col-md-3">
				{% block leftcontents %}
				{% endblock %}
			</div>

			<div class="col-md-6">
				{% block body %}
					{% comment %}
					This is the part that gets overridden by templates that extend this one.
					{% endcomment %}
				{% endblock %}
			</div>

			<div class="col-md-3">
				{% block rightbar %}
				{% comment %} Allows different pages to implement their own right-bar, e.g. messages has Quick DM here. {% endcomment %}
				{% endblock %}
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div>

<footer id="footer">
	{% block footer %}{% endblock %}
</footer>

{% comment %} For scripts at the bottom of the page. {% endcomment %}
{% block bottomscripts %}
{% endblock %}
