{% load static %}
{% load markdown_tags %}

<title>{% block title %}{% endblock %} - warwicktabletop.co.uk</title>


<script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js""></script>
<script src="{% static 'jqui/jquery-ui.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'jquery-ui.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'jquery-ui.structure.min.css' %}">

<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% comment %}Alternate versions of Boostrap with the BOOSTRA.386 theme
	<link type="text/css" rel="stylesheet" href="/static/386/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/386/js/bootstrap.min.js"></script>
{% endcomment %}

{% comment font icons library %}{% endcomment %}
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="/static/bootstrap3-typeahead.js"></script>

<script>
	$(function(){
		$('.accordion').filter('.panel').accordion({
			collapsible:true,
			header: ".panel-heading",
		});
	});
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% block head %}
	{% comment %}
		Custom per-page includes such as the gallery plugin on the Gallery page.
	{% endcomment %}
{% endblock %}

<style>

	.latest {
		margin-bottom: 10px;
	}
	img.avatar {
		width: 128px;
		height: 128px;
	}
	img.brand-img {
		width: 32px;
		height: 32px;
		margin-top: -5px;
	}
	.navbar {
		border-radius: 0;
	}
	.jumbotron {
		text-align: center;
	}
	.nobullet {
		padding: 0;
		list-style-type: none;
	}

	.wordwrap {
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		white-space: pre-wrap;
		word-wrap: break-word;
		white-space: -webkit-pre-wrap;
		word-break: break-word;
		white-space: normal;
	}

	img {
		max-width: 100%; /* Don't overflow. */
	}

	/* override browser's/Bootstrap's default which presumes <pre> is used for code
	whereas in our case we will use it to preserve formatting on text boxes
	at least until Markdown is implemented or something B)
	*/
	/* ^^^ @ past me: markdown is implemented. what are you talking about */
	/*pre {
		font-family: inherit;
		background-color: inherit;
		border: inherit;
		font-size: inherit;
		padding: 0;
		margin:inherit;
	}*/

	.errorlist {
		color: #a94442;
	}


</style>

{% block css %}
	{% comment %}
		This is where a page's custom CSS will go, or a link to the relevant stylesheet I guess.
	{% endcomment %}
{% endblock %}

{% block navbar %}{% endblock %}

<!-- page -->
<div class="container-fluid">
{% comment %}
<!--this was here in case people preferred page headings to be
above all content including sidebars. the people I surveyed preferred the old way.
Might do an A/B test on the entire site at some point-->
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h1>{% block heading %}{% endblock %}</h1>
		</div>
		<div class="col-md-3"></div>
	</div>
{% endcomment %}
	<div class="row">
		<div class="col-md-3">
			{% block leftcontents %}
			{% endblock %}
		</div>

		<div class="col-md-6">
			{% block body %}
				{% comment %}
				This is the part that gets overridden by templates that extend this one.
				{% endcomment %}
			{% endblock %}
		</div>

		<div class="col-md-3">
			{% block rightbar %}
			{% comment %} Allows different pages to implement their own right-bar, e.g. messages has Quick DM here. {% endcomment %}
			{% endblock %}
		</div>
	</div><!-- .row -->
</div><!-- .container -->

<script>
	function nasa() {
		$('img').each(function(index, element) {
			id = ['01120', '01002', '01003', '01005', '01008', '01153', '01581'][Math.floor(Math.random()*7)]
			u='https://images-assets.nasa.gov/image/PIA'+id+'/PIA'+id+'~orig.jpg'
			//$(element).attr('src', u)
			$(element).replaceWith($('<img src="'+u+'">'))
		})
	}
</script>

<script>
$(document).ready(function() {
	console.log("Getting ready.");
	window.simplemde = [];
	$(".markdown-input").each(function(i,e) {
		console.log("Element "+e);
		window.simplemde.push(
			new SimpleMDE({element: e,
				placeholder: "Write Markdown (or just regular text) here...",
				forceSync: true,
			})
		);
	});
});
</script>

<style>
.CodeMirror {
	height: 200px;
}
.CodeMirror-scroll {
	min-height: 0px;
}
</style>
