{% extends 'tgrsite/main.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Warwick Tabletop Games and Role-Playing Society</h1>
<strong>Who we are:</strong>
<p>We are the Warwick Tabletop Games and Roleplaying Society, and as the name suggests, we are the main source for everything tabletop gaming and roleplaying related. This includes board games, card games, and wargames as well as all sorts of RPGs; both the pen & paper sort, as well as live action. Our society is a combination of many smaller societies which each supported one of these activities. This allows us to run a wide range of events every week, and since many members are active in multiple areas of the society, we have a strong sense of community.</p></p>
<strong>What we do:</strong>
<p>We are one of the most active societies on campus, with regularly scheduled events running 6 days a week. These include live action roleplaying, tabletop roleplaying, wargames, board games, and card games. So whether you are only interested in, or have the time for, one of these or want to experience everything we have to offer we would love to see you at our events.</p></p>

<strong>Roleplaying</strong><br>
<strong>Live action roleplaying (LARP)</strong>
<p>Every Sunday during term time we run our weekly LARP adventure overseen by our extremely knowledgeable LARP refs. The weekly LARP adventures are the most physically active events we run as a society, and involve donning armour and robes to do actual battle with our LARP weapons. But it’s not all about combat, as there are plenty of non-combat encounters devised to allow you to fully live out your characters’ experiences. But don’t worry: if that sounds like a daunting task, our regular members are very friendly and happy to help you get into the system. We even have a massive selection of society costumes and weapons, so all you have to do is come along!</p>

<strong>Tabletop roleplaying</strong>
<p>If you’re a fan of dungeons and dragons-style tabletop RPGs, we run campaigns every Saturday. We have team of games masters who run games in many systems, and we are always looking for more if you fancy running a campaign yourself. Due to the long nature of roleplaying games these can run throughout the term, so be sure to <a href="{% url 'rpgs' %}">check the forms</a> at the start of term to make sure you get to play in the game you are interested in as spaces fill up fast.</p>

<strong>Wargaming</strong>
<p>Our weekly Wargaming event runs every Monday (even outside of term time!) in which we simulate war through the use of custom built and painted miniature soldiers. This ranges from small scale skirmishes to planet wide battle, using a range of games systems. Regularly played games you can expect to see include: Age of Sigmar (the best system(this isn’t a joke(no really not a joke))), Warhammer 40,000, Warhammer Fantasy 9th edition, Warmahordes, X-wing, as well as Dropzone and Dropfleet Commander. But don’t worry if you have a preferred games system that isn’t there, we are always happy to try out a new wargame. We also have a collection of society armies covering most of these systems allowing anybody to turn up a play!</p>

<strong>Magic: The Gathering booster draft</strong>
<p>Every Tuesday evening during term time we run our weekly Magic: The Gathering booster draft. This will normally be the current draft set and costs £7 per player to enter with rares redrafted. If you already play Magic you will no doubt be all over this event. For newer players, we recommend that you come along to casual card games on Thursdays (more about that below) to get a grasp of the game and meet our great community. However, once you feel confident with the game, booster draft is the best way to get into competitive play – you don’t need a collection of cards to play, and you’ll be growing your collection for other competitive formats.</p>

<strong>Board Games</strong>
<p>By far our most popular event of the week, board games happens every Wednesday. We have a massive collection of board games. It doesn’t matter what you’re looking for: short punchy games that can be played in 30 minutes? Sure. Games of Grand strategy that require many hours to play? Absolutely. If it could be described as a board game, we have a community willing to give it a shot. Due to the drop in nature of this event we welcome people to come along whenever they like for as long as they like, as there are always people ready to play. It’s also the perfect place for you to bring any board game you have that you’ve been itching to play, as we are always excited to play new games.</p>

<strong>Casual Card Games</strong>
<p>On Thursdays we get together to play the many varieties of card games available including; Magic: The Gathering, Yu-Gi-Oh, and Android Netrunner. This allows people to learn new games, test new decks they have been working on for up and coming competitive events, or just relax with the many casual formats available for these games.</p>



{% endblock %}
