
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

{% comment %}Alternate versions of Boostrap with the BOOSTRA.386 theme{% endcomment %}
{%if True %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% else %}
	<link rel="stylesheet" href="/static/386/css/bootstrap.min.css" type="text/css">
	<script src="/static/386/js/bootstrap.min.js"></script>
{% endif %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% block head %}
	{% comment %}
		Custom per-page includes such as the gallery plugin on the Gallery page.
	{% endcomment %}
{% endblock %}

<style>
img.avatar {
	width: 128px;
	height: 128px;
}
img.brand-img {
	width: 32px;
	height: 32px;
	margin-top: -5px;
}
.navbar {
	border-radius: 0;
}
.jumbotron {
	text-align: center;
}
ul {
	padding: 0;
	list-style-type: none;
}

/* override browser's/Bootstrap's default which presumes <pre> is used for code
whereas in our case we will use it to preserve formatting on text boxes
at least until Markdown is implemented or something B)
*/
pre {
	font-family: inherit;
	background-color: inherit;
	border: inherit;
	font-size: inherit;
	padding: 0;
	margin:inherit;
}

</style>

{% block css %}
	{% comment %}
		This is where a page's custom CSS will go, or a link to the relevant stylesheet I guess.
	{% endcomment %}
{% endblock %}

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<!-- hamburger menu -->
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="https://scifi.uwcs.co.uk/static_img/web_logo_small.png" class="brand-img" alt="Home">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="nav-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url 'exec' %}">
					<i class="fa fa-fw fa-users"></i> Exec
				</a></li>
				<li><a href="{% url 'schedule' %}">
					<i class="fa fa-fw fa-calendar"></i> Schedule
				</a></li>
				<li><a href="{% url 'gallery' %}">
					<i class="fa fa-fw fa-picture-o"></i> Photo gallery
				</a></li>
				<li><a href="{% url 'forum' %}">
					<i class="fa fa-fw fa-quote-left"></i> Forum
				</a></li>
				<li><a href="{% url 'rpgs' %}">
					<i class="fa fa-fw fa-magic"></i> RPGs
				</a></li>
				<li><a href="{% url 'message_list' %}">
					<i class="fa fa-fw fa-comment-o"></i> Messages
				</a></li>
				<li><a href="//www.warwicksu.com/societies/sff/">
					SU Page
					<i class="glyphicon glyphicon-new-window">&nbsp;</i>
				</a></li>


			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if request.user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
					<li><a href="{% url 'signup' %}">Register</a></li>
				{% endif %}
			</ul>
		</div>

	</div>
</nav>
<!-- page -->
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					Welcome{% if request.user.is_authenticated %} back{% else %}, guest{% endif %}!
				</div>
				{% block leftbar %}{% endblock %}
				<div class="panel-body">
					<ul>
						{%if request.user.is_authenticated %}
							<li><a href="{% url 'me' %}">
								My profile
							</a></li>
							<li><a href="{% url 'logout' %}">Log Out</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Log In</a> / <a href="{% url 'signup' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-sm-6">
			{% block body %}
				{% comment %}
				This is the part that gets overridden by templates that extend this one.
				{% endcomment %}
			{% endblock %}
		</div>

		<div class="col-sm-3">
			{% block rightbar %}
			{% endblock %}
		</div>
	</div>
</div>

<script>
	function nasa() {
		function num(min, max){return Math.floor(Math.random() * (max - min)) + min}
		function select(a){return a[num(0, a.length)]}
		$('img').each(function(index, element) {
			id = select(['01120', '01002', '01003', '01005', '01008', '01153', '01581'])
			u='https://images-assets.nasa.gov/image/PIA'+id+'/PIA'+id+'~orig.jpg'
			el = $('<img src="'+u+'">')
			//$(element).attr('src', u)
			$(element).replaceWith(el)
		})
	}
</script>

<!-- TODO: move -->
<a href="{% url 'bug_create' %}">Report a bug</a>
