{% extends 'tgrsite/basecontent.html' %}
{% load static %}
{% load markdown_tags %}
{% load property_tags %}

{% comment %}
THIS IS USED BY THE SITE
{% endcomment %}

{% block head %}
    {{ block.super }}
    {# Add some SEO metadata to help discoverability #}
    <meta name="keywords"
          content="Warwick, D&D, Tabletop, Boardgames, Board Games, Dungeons and Dragons, Card Games, Wargaming, Role Play, LARP, student, MTG, Magic, Magic the Gathering, Coventry">
    <meta name="description"
          content="Warwick Tabletop and Role-Playing Society provides Warwick students with access to role-playing, board games, LARP, CCGs and a community to engage with these activities.">
{% endblock %}

{% block topscripts %}
    {{ block.super }}
    <script src="{% static 'bootstrap3-typeahead.js' %}"></script>

    {# font icons library #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    {# Markdown editor #}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block bootstrap %}
    <link rel="stylesheet" href="{% static "tgrsite_bootstrap.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
    {% include "nav.html" %}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% block breadcrumbs_parents %}
            {% endblock %}
            <li class="breadcrumb-item active" aria-current="page">{% block breadcrumbs_child %}{% endblock %}</li>
        </ol>
    </nav>
{% endblock %}

{% block messages %}
    {% if messages %}
        <div class="alerts">
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block leftcontents %}
    <div class="card d-none d-md-flex">
        <a class="card-header" href="#ql" data-toggle="collapse">
            Quick Links
        </a>
        <div class="collapse show" id="ql">
            <div class="card-body">
                <ul class="list-unstyled mb-0">
                    {% if request.user.is_staff %}
                        <li><a class="card-link" href="{% url "admin:index" %}">Admin site</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li><a class="card-link" href="{% url 'users:me' %}">My profile</a></li>
                        <li><a class="card-link" href="{% url 'notifications:notification_settings' %}">Notification
                            Settings</a></li>
                        <li><a class="card-link" href="{% url 'users:logout' %}">Log out</a></li>
                    {% else %}
                        <li><a class="card-link" href="{% url 'users:login' %}">Log in</a> / <a
                                href="{% url 'users:signup' %}">Register</a></li>
                    {% endif %}
                    <li><a class="card-link" href="{% string_setting "bug_tracker" %}">Report a Bug</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="bg-light">
        <div class="nav ml-auto mr-auto d-flex flex-row justify-content-around">
            <a class="nav-link" href="//www.facebook.com/TAGAROPLE/">
                <i class="fab fa-facebook-square"></i>&nbsp;Facebook
            </a>
            <a class="nav-link align-content-center" href="//www.warwicksu.com/societies/sff/">
                <img class="img-text" alt="SU logo" src="{% static "SUPurple.png" %}" aria-hidden="true">&nbsp;Warwick&nbsp;SU&nbsp;Page
            </a>
            <a class="nav-link" href="{% url "page" "privacy"%}">
                <i class="fas fa-user-secret"></i>&nbsp;Privacy&nbsp;Policy
            </a>
            <a class="nav-link" href="{% url "page" "content-policy"%}">
                <i class="fas fa-comment-dots"></i>&nbsp;Content&nbsp;Policy
            </a>
        </div>
    </footer>
{% endblock %}

{% block bottomscripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            console.log("Getting ready.");
            window.simplemde = [];
            $(".markdown-input").each(function (i, e) {
                console.log("Element " + e);
                window.simplemde.push(
                    new EasyMDE({
                        element: e,
                        placeholder: "Write Markdown (or just regular text) here...",
                        forceSync: true,
                        autoDownloadFontAwesome: false,
                    })
                );
            });
        });
    </script>
{% endblock %}