{% extends "tgrsite/main.html" %}
{% load static %}
{% block title %}Index{% endblock %}
{% block pagetitle %}Index{% endblock %}

{% block breadcrumbs_child %}Index{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block body %}
<h3><a class="anchor" id="member"></a><img alt="Society dice are really pretty" src="/static/diceheart.jpg" class="my-responsive ml-3">
Do you need to buy membership to come to our events?
</h3>
<p>
No, but you get a die! They're so pretty. Buying membership also gives us funds to buy more cool stuff for the
society (more board games, more RPG sourcebooks, more wargames territory, more LARP equipment, more events etc.)
</p>

<h3><a class="anchor" id="problems"></a>I’ve had a problem at an event, or I’m worried about things happening, or
I’ve felt uncomfortable due to something, is there any support?</h3>
<p>
If you’ve been having problems of any sort, or any sort of worries or discomfort, please do talk to our
<a href="/exec/#WelfareOfficer">Welfare</a> and/or <a href="/exec/#EqualOpportunitiesOfficer">Equal
Opportunities</a> Officers. All of our exec are here to help, and will try to aid you as they can (and are open
if you’re more comfortable talking to them), but if matters like this do arise, then we do strongly suggest
speaking to the Welfare and/or Equal Opportunities Officers. They’re here to help, and will be happy to talk to
you about anything - big or small. We take the safety and comfort of our members very seriously, and will do our
absolute best to resolve any issue as soon as we can.)
</p>

<h3><a class="anchor" id="contact"></a>I want to talk to the exec for some other reason, what's the best way to do
this?</h3>
<p>
Message us on Facebook, or a member of exec on Discord! Alternatively, if you want to talk face-to-face, there's
always exec present at every one of our events.
</p>
<span class="clear_fix"></span>
<h3><a class="anchor" id="snore"></a>Can I turn up to an exec meeting?</h3>
<p>
Sure. Unfortunately timetabling meetings in advance is tricky, so final times and locations are often only known
a couple of days before. This means that if you want to attend an exec meeting you need to ask an exec to
contact you with the time and place once it is known. Occasionally, we will have to have a meeting about a
sensitive topic, which may mean that members won't be able to attend that particular meeting, but these are
fortunately very rare.
</p>

<h3><a class="anchor" id="proxy"></a>What's the society's stance on proxies/counterfeits/etc?</h3>
<p>
Proxy cards are allowed at our casual card games event! Just talk to your opponent and make sure they're okay
with you using proxy cards - most of them will be absolutely fine with this but it's good to check. If we run an
event that disallows proxies, such as a tournament, this will be made clear. Counterfeits actively damage
Wizards of the Coast, and as such, please don't play with them.
</p>

<h3><a class="anchor" id="mtg-sanctioned"></a>Are your Magic drafts sanctioned events?</h3>
<p>It used to be! Now it's a bit up in the air due to changes by Wizards. We'll keep you updated as we find out ourselves.</p>

<h3><a class="anchor" id="library"></a>What board games do you have?</h3>
<p>
Lots. Lots and lots. Take a look at our <a href="#" onclick="alert('Coming Soon');">library</a> and you'll see
that it contains games from deck-builders and pieces-of-art-builders, to Star Wars and Battlestar Galactica, to
houses of horror and Mansions of Madness, to superheroes and sushi making, and yes, even Monopoly. Whatever
you're interested in, there's something for you; and a whole lot of new games to discover.
</p>

<h3><a class="anchor" id="special-events"></a>What are these Board Game Weekends I've heard about?/What special
events do you run?</h3>
<p>
Throughout the year, we have several events, our Board Games Weekends, where we will book a room out for the
whole weekend. During these times, people are free to play games (mainly board games, but there are often games
of X-Wing, Magic the Gathering, and also occasionally even video games), and as normal, you can come and go as
you wish. This is an often an opportunity to play longer or less-often played games (like Diplomacy, or Two
Rooms and a Boom), and for general socialising as lots of ex-members, or people who can't come every week will
attend.
</p>
<p>
We also run special events infrequently, including our Termly Quizzes, themed events (like Pride or Hallow’eek),
collaborations with other societies (like our annual Compsoc Laser Tag game), 40K Apocalypse Games,
Terrain-Making days, the end-of-year LARP trip to Kenilworth Castle, Murder Mysteries, and even a Megagame! All
of these are typically advertised well ahead of time on our website, in newsletters, and on Discord and
Facebook. If you have any questions about events, have a chat with the relevant rep.
</p>

<h3><a class="anchor" id="outboard"></a>I'm representing a society looking to run a board game event, can we borrow
your games?</h3>
<p>
Message us on Facebook or Discord! The board games rep will be able to help you out. We currently ask for a
nominal donation to the society, which is around £10 for other SU societies. We are also able to provide exec to
help run the event, please do let us know if this is something you think you will need.
</p>

<h3><a class="anchor" id="suggest"></a>I came across this great game, and I think the society should get a copy,
where can I suggest this?</h3>
<p>
We have a <a href="/inventory/boardgames/suggestions/">suggestion box</a> available on our website, otherwise
you can speak to the respective exec about getting a copy.
</p>

<h3><a class="anchor" id="bring"></a>What if I want to bring my own game to an event?</h3>
<p>
That's great! A lot of our members love a chance to try something new. If it's long, or requires many players or
foreknowledge, it might be worth advertising on our Discord, or the relevant Facebook page.
</p>

<h3><a class="anchor" id="loaned"></a>What's this about loaned or donated games?</h3>
<p>
In some cases - often with heavy games or ones generous people want to share - people leave games in the care of
the Society while they're at Warwick. This does not mean the Society owns them, but that we store them and they
may be played by anyone at board games events. These are marked and kept separately, and are never lent out to
other societies etc. so if you want to play one, you will need to turn up to one of our events! Additionally, we
do accept permanent donations to the society from even more generous members. In either case, if you want to
know more or talk about these, talk to the relevant rep.
</p>

<h3><a class="anchor" id="rpgpoor"></a>I'm looking to run an RPG campaign or one-shot, does the society have
anything I can borrow?</h3>
<p>
Of course! The society has several sourcebooks for D&D, as well as dry-wipe maps, pens and dice. Contact the
RPG's rep to ask about what's available and when.
</p>

<h3><a class="anchor" id="outlarp"></a>I'm representing a society looking to run a play, or re-enactment, can we
borrow your LARP
equipment?</h3>
<p>
Message us on Facebook or Discord! The LARP rep or Quartermaster will be able to help you out.
</p>



    <div class="list-group">
        <a class="list-group-item" href="#member">Do you need to buy membership to come to our events?</a>
        <a class="list-group-item" href="#problems">I've had a problem at an event, or I'm worried about things
            happening, or I've felt uncomfortable due to something, is there any support?</a>
        <a class="list-group-item" href="#contact">I want to talk to the exec for some other reason, what's the best way
            to do this?</a>
        <a class="list-group-item" href="#snore">Can I turn up to an exec meeting?</a>
        <a class="list-group-item" href="#proxy">What's the society's stance on proxies/counterfeits/etc?</a>
        <a class="list-group-item" href="#mtg-sanctioned">Are your Magic drafts sanctioned events?</a>
        <a class="list-group-item" href="#library">What board games do you have?</a>
        <a class="list-group-item" href="#special-events">What are these Board Game Weekends I've heard about?/What
            special events do you run?</a>
        <a class="list-group-item" href="#outboard">I'm representing a society looking to run a board game event, can we
            borrow your games?</a>
        <a class="list-group-item" href="#suggest">I came across this great game, and I think the society should get a
            copy, where can I suggest this?</a>
        <a class="list-group-item" href="#bring">What if I want to bring my own game to an event?</a>
        <a class="list-group-item" href="#loaned">What's this about loaned or donated games?</a>
        <a class="list-group-item" href="#rpgpoor">I'm looking to run an RPG campaign or one-shot, does the society have
            anything I can borrow?</a>
        <a class="list-group-item" href="#outlarp">I'm representing a society looking to run a play, or re-enactment,
            can we borrow your LARP equipment?</a>
    </div>



{% endblock %}