{% extends "tgrsite/main.html" %}
{% block title %}Index{% endblock %}
{% block pagetitle %}Index{% endblock %}

{% block breadcrumbs_child %}Index{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block body %}

    <h2>Announcements</h2>
    The Term 2 timetable and proposed Draft schedule are now available over on the
    <a href="/timetable/">schedule page</a>.

    <h2>About Us</h2>
    <p>We’re Warwick Tabletop Games and Roleplaying Society, the university’s largest society for all things tabletop.
        We have a packed calendar of events covering <strong>board games</strong>, <strong>card games</strong>, <strong>wargames</strong>
        and <strong>RPGs</strong> of all varieties (both pen and paper as well as live action), so there’s bound to be
        an event for you! We provide a friendly and welcoming environment for newer players and experts alike, so
        regardless of experience, you’re always welcome at our events. Members of exec (in their purple hoodies) will
        always be around and are happy to help, so if you’d like to try something new just show up and we’ll help you
        out.</p>
    <p><strong>Discord</strong>: We have a Discord! You can find it using the code <code>xdDZnYQ</code> in the Discord
        app or on the Discord site.</p>

    <h2>Weekly Events (Term Time)</h2>
    We run six events each week, which are listed below! You can find our schedule
    <a href="https://www.warwicktabletop.co.uk/timetable/">here</a> along with Google calendars you can subscribe to.

    <div class="card">
        <h3 class="card-header">Wargames (Monday 1700-2200)</h3>
        <div class="card-body">
            <p><a class href="https://www.facebook.com/groups/276814799016749/"><i class="fab fa-facebook"></i><span
                    class="sr-only">Wargames Facebook Group</span></a></p>
            <p class="card-text">Every Monday we run an open session for playing wargames, games where you field armies
                which do battle on your table! These range from small scale skirmishes to huge battles in games such as
                Warhammer 40,000, X-wing, Star Wars: Armada, and many more - if you can think of a wargame and two
                people have the armies for it, you’ll likely get a game out of it. We have a number of society armies
                for you to borrow and play with as well, so if you’re undecided on whether to invest in a game, you can
                try it out first. Games are mostly organised in advance via the Wargames Facebook Group (linked above),
                so if you’re interested in coming along to a session, have a look there to see what people are
                bringing.</p>
        </div>
    </div>

    <div class="card">
        <h3>Magic: the Gathering Draft (Tuesday 1800-2200)</h3>
        <p><a href="https://www.facebook.com/groups/195335593904501/">Draft Facebook Group</a></p>
        <p>If you like drafting Magic: the Gathering, then this is the event for you. We draft an assortment of the
            latest standard set, cubes, unusual sets (e.g. Masters, Unstable, Battlebond...), chaos and flashbacks,
            which are all scheduled in advance on the events page of our website <a
                    href="https://www.warwicktabletop.co.uk/events/">here</a>.</p>
        <p>Entry to standard drafts £10, reduced by £2.50 for every booster you supply yourself - this includes 3
            boosters to draft with and an extra booster per player being added to a prize pool. Price and prize
            structure may change when we draft sets other than standard, so check the schedule! We meet between 6 and
            6.30pm to organise pods and play casual games, then begin the draft proper at 6.30pm. There are normally 3
            matches (swiss pairings), with the pack prizes given to first place and everyone who wins at least 2 of
            their matches.</p>
        <p>Draft is a competitive format, so if you’re completely new to playing Magic, we recommend you turn up to a
            Casual Card Games session and talk to one of our reps before attempting this!</p>
    </div>

    <div class="card">
        <h3>Boardgames (Wednesday 1400-2200)</h3>
        <p><a href="https://www.facebook.com/groups/681573368568623/">Boardgames Facebook Group</a></p>
        <p>Our weekly boardgames event runs from 2pm until 10pm and is your chance to drop in for as long or as little
            as you want to play some board games. We have a collection of over 130 board games (we have an inventory
            which will be live on the site soon, but you can bring your own games too) ranging from small half-hour
            party games to session-long epics, so whatever your taste in games we’re sure you’ll be able to find
            something you’ll enjoy! Don’t feel like you have to come with a group or have to already know everything
            about board games - exec and existing members will be on hand to help group people up and teach new
            games.</p>
    </div>

    <div class="card">
        <h3>Casual Card Games (Thursday 1700-2200)</h3>
        <p><a href="https://www.facebook.com/groups/195335593904501/">Card Games Facebook Group</a></p>
        <p>Thursday evenings are home to Casual Card Games, the event where card games such as Magic: The Gathering
            (mostly Commander, but also Modern), Android: Netrunner, and Yu-Gi-Oh are played. This is the place for
            competitive and non-competitive players alike to play in a friendly environment, whether they’re practicing
            for an upcoming tournament or just wanting casual games with some silly decks. We also have intro decks and
            players happy to teach their favourite games, so if you’d like to try Magic (before plunging into the world
            of Magic Drafts) or any of the other great games listed, this is the event for you! Games can be organised
            in advance via the Casual Card Games Facebook group (linked above), so you can ask which games are being
            played, and see if there is interest in playing games aside from those listed above.</p>
    </div>

    <div class="card">
        <h3>RPGs (Various Times, but usually Saturdays)</h3>
        <p><a href="https://www.facebook.com/groups/136276596998520/">RPGs Facebook Group</a></p>
        <p>If you’ve been wanting to try Dungeons and Dragons (D&amp;D) or any of the other tabletop RPG systems
            available, this is the part of the society you’ve been waiting for! Many campaigns and one-shots
            (self-contained adventures that only take a single afternoon) are run through the society, with signups
            found on the events page of our website <a href="https://www.warwicktabletop.co.uk/events/">here</a>. While
            the majority of games here are run in D&amp;D, other systems have also been run, such as Age of Rebellion
            (Star Wars roleplaying!), Call of Cthulu, and even some more obscure ones like Dread.</p>
        <p>Furthermore, at the start of term 1 (during Welcome Week), we run Introductory RPG one-shots, where GMs both
            old and new run beginner games aimed at those interested in trying out roleplaying. This is a great venue to
            meet GMs who may be looking for players to participate in new, long-term campaigns.</p>
        <p>Finally, we support GMs by providing a small collection of materials for them to borrow, and by booking rooms
            for them to run their sessions in (if you need a room, just contact us).</p>
    </div>

    <div class="card">
        <h3>LARP (Sunday 1200-1700)</h3>
        <p><a href="https://www.facebook.com/groups/2204222674/">LARP Facebook Group</a></p>
        <p>Live Action Roleplaying takes the fun of tabletop RPGs and brings them to life! Rather than sitting at a
            table describing your actions, you don foam weaponry and costumes (provided by the society, but you can
            bring your own LARP-safe kit) and go to the nearby woods to act as your character. This is all run within
            the <a href="https://www.warwicktabletop.co.uk/larp-latest/">Unity system</a> - a beginner-friendly LARP
            system unique to the society, so don’t worry about knowing all of the rules as it’s new to everyone. These
            sessions are run by our knowledgeable LARP Reps and let you play both heroes and monsters in combat and
            social encounters. This means you can live out your character’s experiences as well as fighting as them!</p>
    </div>

    <h2>Holidays</h2>
    <p>We also run a reduced schedule of events during the holidays, so if you’re a postgrad still around outside of
        term time or are otherwise still nearby, you can still get your weekly fix of board, card and wargames!
        Schedules for these can be found with the term time schedules on our <a
                href="https://www.warwicktabletop.co.uk/timetable/">schedule page</a> (these are typically released a
        week or so before the respective holiday starts).</p>

    <h2>Special Events</h2>
    <p>Outside of our usual weekly events, we run a large variety of special events throughout the year.</p>

    <h3>Tabletop Weekends</h3>
    <p><em>Term 1 (Weeks <strong>4</strong> and 9), Term 2 (Weeks <strong>3</strong> and <strong>8</strong>), and Term 3
        (Week 9)</em></p>
    <p>The most frequent of these is our Tabletop Weekends, which we run twice in terms 1 and 2 and once (as a special
        three day weekend) in term 3. The premise is simple - we book a room for the entire weekend (including
        overnight) for people to come in and play whatever tabletop games they like! This is the perfect time for you to
        try some of our longer games that struggle to fit into a normal session like Diplomacy or a longer Magic Cube
        Draft, and if you’re feeling particularly brave you can try to stay for the whole 36 hours of gaming.</p>

    <h3>Quiz</h3>
    <p><em>Every Term, Week 9</em></p>
    <p>We also run a termly quiz featuring all manner of quiz rounds, from naming things that sound like the things
        pictured, to guessing whether something is the name of ikea furniture or a D&amp;D monster! This is a fun chance
        to try answering ridiculous questions with people from all parts of the society and win some cool trophies and
        tabletop-themes prizes.</p>

    <h3>Other Special Events</h3>
    <p>Finally, we’ve run some other one-off events in the past, including a collaboration with the Game Design society
        involving making your own board game, a murder mystery LARP, and even a megagame! You can see all of the
        different events we’ve run in the past over <a href="/page/eventhistory/">here</a> and those we will be running
        in the future on <a href="https://www.facebook.com/pg/TAGAROPLE/events/">Facebook</a>.</p>
    <p>We really look forward to playing some games with you!</p>

    <p>You can buy membership (optional, but it helps the society) on our SU page <a
            href="//www.warwicksu.com/societies-sports/societies/sff/">here</a>.</p>

{% endblock %}