{% extends "tgrsite/main.html" %}
{% block title %}Delete Thread{% endblock %}
{% block pagetitle %}Delete Thread{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "forum:forum" %}">Forum</a></li>
    {% for parent in object.forum.get_parents %}
        <li class="breadcrumb-item"><a href="{% url "forum:subforum" parent.pk %}">{{ parent.title }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url "forum:subforum" object.forum.pk %}">{{ object.forum.title }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "forum:viewthread" object.pk %}">{{ object.title }}</a></li>
{% endblock %}
{% block breadcrumbs_child %}Delete{% endblock %}

{% block body %}
<form method="post">{% csrf_token %}
    <legend>Are you sure you want to delete your thread <em>{{ object.title }}</em>?</legend>
    <input class="btn btn-block btn-outline-danger" type="submit" value="Confirm">
</form>
{% endblock %}