{% extends "tgrsite/main.html" %}
{% block title %}Edit thread{% endblock %}
{% block pagetitle %}Edit Thread{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "forum:forum" %}">Forum</a></li>
    {% for parent in object.forum.get_parents %}
        <li class="breadcrumb-item"><a href="{% url "forum:subforum" parent.pk %}">{{ parent.title }}</a></li>
    {% endfor %}
    <li class="breadcrumb-item"><a href="{% url "forum:subforum" object.forum.pk %}">{{ object.forum.title }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "forum:viewthread" object.pk %}">{{ object.title }}</a></li>
{% endblock %}
{% block breadcrumbs_child %}Edit{% endblock %}


{% block body %}
    {% include "parts/render_form.html" %}
{% endblock %}
