{% extends "tgrsite/main.html" %}


{% block body %}

<h2>{{ current }}</h2>

{% if current.parent.id %}
	in
	<a href="{% url 'subforum' current.parent.id %}">
		{{current.parent}}
	</a>

	<br><br>
{% elif current != 'Forum' %}
	in <a href="{% url 'forum' %}">Forum</a>
	<br><br>
{% endif %}

{% if forums %}

{% if current == 'Forum' %}
FORUMS
{% else %}
SUBFORUMS
{% endif %}
<ul>
{% for forum in forums %}
	<li>
		<a href="{% url 'subforum' forum.id %}">{{ forum }}</a>
		<small><em>&middot; {{forum.description|default:"no description"}}</em> &middot; {{forum.get_threads_count}} thread{{forum.get_threads_count|pluralize}}</small>
	</li>
{% endfor %}
</ul>
{% else %}
	{% if not threads and current == 'Forum' %}
		Looks like the forum doesn't exist!<br>
		Contact the <a href="{% url 'exec' %}">webmonkey</a>.
	{% endif %}
{% endif %}

{% if threads %}
THREADS: {{current.get_threads_count}}
<ul>
	{% for thread in threads %}
		<li><a href="{% url 'viewthread' thread.id %}">
			{% if thread.is_pinned %}
				<i class="fa fa-sticky-note-o"> </i>
			{% endif %}
			[{{ thread.pub_date }}] {{ thread.title }} <small> - {{thread.author.equiv_user.username}}</small>
		</a></li>
	{% endfor %}
</ul>
{% endif %}
{% if request.user.is_authenticated and current != 'Forum' %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#createThreadCollapse" aria-expanded="false" aria-controls="createThreadCollapse">Create Thread</button>
<div class="collapse" id="createThreadCollapse">
	<div class="panel panel-default">
		<div class="panel-body">
			<form action="{% url 'createthread' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					{{form}}
					<input type="hidden" name="forum" value="{{current.id}}">
				</div>
				<input type="submit" class="form-control">
			</form>
		</div>
	</div>
</div>

{% endif %}

{% endblock %}
