{% extends "tgrsite/main.html" %}
{% block title %}
    Forum
{% endblock %}
{% block pagetitle %}Forum{% endblock %}
{% block breadcrumbs_child %}Forum{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.forum.change_forums %}
        <a class="btn btn-block btn-outline-dark" href="{% url "admin:forum_forum_changelist" %}">Edit</a>
    {% endif %}
    <a class="btn btn-block btn-outline-primary d-none d-md-block" href="{% url "forum:recent" %}">Recent Activity</a>
{% endblock %}

{% block body %}
    <a class="btn btn-block btn-outline-primary d-block d-md-none" href="{% url "forum:recent" %}">Recent Activity</a>
    <div class="mb-3"><h3>Forums</h3>
        {% if forums %}
            {% include "forum/parts/subforum_list.html" with forums=forums %}
        {% else %}
            {% if not threads %}
                <div class="card bg-warning">
                    <p class="card-header">Looks like the forum doesn't exist!</p>
                    <div class="card-body">
                        <p class="card-text">Contact the <a class="card-link" href="{% url 'exec:exec' %}#Web%20Admin">Web Admin</a>.</p>
                    </div>
                </div>


            {% endif %}
        {% endif %}
    </div>
{% endblock %}
