{% load markdown_tags %}

{% comment %}
Renders a single thread "response" (including the inital post)
Included by thread.html which is responsible for rendering a whole thread
{% endcomment %}
<div class="panel panel-default"><div class="panel-body">
	<div class="media">
		<div class="media-left">
			<a href="{% url 'user' thread.author.id %}">
				<img class="media-object avatar" src="https://pbs.twimg.com/media/Civ9AUkVAAAwihS.jpg" alt="Avatar for {{ response.author }}">
				{{response.author}}
			</a>
		</div>
		<div class="media-body">
			<div class="panel panel-default"><div class="panel-body">
				{{ response.body|parse_md }}
				<br>
				{{ response.author.signature }}
			</div></div>
		</div>
	</div>
</div></div>
