{% extends "tgrsite/main.html" %}

{% comment %}
thread.html renders a single thread, specified in the "thread" context variable
{% endcomment %}

{% comment response_id %}
Context's "response_id" the second number in the url, which is the response ID for linking (for now), or None.
	TODO: make this do something
	{{ response_id }}
{% endcomment %}
{% block title %}
    {{ thread.title }}
{% endblock %}



{% block body %}

    <h2 class="wordwrap">{{ thread.title }}</h2>

    <h4>
        in
        <a href="{% url 'forum:subforum' thread.forum.id %}">{{ thread.forum }}</a>
    </h4>

    {% comment %} Even the OP uses the "response" template {% endcomment %}
    {% include 'forum/response.html' with response=thread is_thread=True %}

    {% for response in responses %}
        {% include 'forum/response.html' %}
    {% endfor %}

    {% if request.user.is_authenticated %}

        <form action="{% url 'forum:createresponse' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
                <input type="hidden" name="thread" value="{{ thread.id }}">
            </div>
            <input type="submit" value="Respond" class="form-control">
        </form>

    {% else %}

        <a href="{% url 'users:signup' %}?next={{ request.path }}">Sign up</a>
        or
        <a href="{% url 'users:login' %}?next={{ request.path }}">log in</a>
        to respond.

    {% endif %}

    <style>
        img.avatar {
            width: 64px;
            height: 64px;
        }

        .post-body img {
            max-width: 100%;
        }
    </style>

{% endblock %}
