{% load markdown_tags %}
{% load markout_tags %}
<div class="list-group">
    {% for response in responses %}
        <a href="{% url 'forum:viewthread' response.thread.id %}#response-{{ response.id }}" class="list-group-item list-group-item-action flex-column">
            <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                <strong>{{ response.thread.title }}</strong>
                <span class="text-muted text-right flex-sm-shrink-0 ml-sm-2">{{ response.pub_date|timesince }} ago</span>
            </span>
            <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                <span>{{ response.body|tidy_md|truncatechars:60 }}</span>
                {% include "parts/render_member.html" with member=response.author nolink=True short=True %}
            </span>
        </a>
    {% endfor %}
</div>
