<div class="list-group">
    {% for forum in forums %}
        <a href="{% url 'forum:subforum' forum.id %}" class="list-group-item list-group-item-action flex-column">
            <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                <strong>{{ forum.title }}</strong>
                {% if forum.get_latest_post %}
                    <span class="text-left text-muted text-sm-right"><em>Latest Post:</em> {{ forum.get_latest_post|truncatechars:24 }}</span>
                {% endif %}
            </span>
            <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                <small>{{ forum.description }}</small>
                <span class="badge badge-primary badge-pill d-none d-sm-block ml-sm-3">{{ forum.get_threads_count_r }} thread{{ forum.get_threads_count_r|pluralize }}</span>
            </span>

        </a>
    {% endfor %}
</div>
