{% load markdown_tags %}
{% load markout_tags %}
<div class="list-group">
    {% for thread in threads %}
        <a href="{% url 'forum:viewthread' thread.id %}" class="list-group-item list-group-item-action flex-column">
            <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                <strong>{% if thread.is_pinned %}<i class="fas fa-thumbtack"></i> {% endif%}{{ thread.title }}</strong>
                <span class="text-muted text-right flex-sm-shrink-0 ml-sm-2">{{ thread.pub_date|timesince }} ago</span>
            </span>
            <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                {% if not userless %}{% include "parts/render_member.html" with member=thread.author nolink=True short=True %}
                {% else %}<span>{{ thread.body|tidy_md|truncatechars:60 }}</span>{% endif %}
                <span class="badge badge-primary badge-pill d-none d-sm-block">{{ thread.get_response_count }} response{{ thread.get_response_count|pluralize }}</span>
            </span>
        </a>
    {% endfor %}
</div>
