{% extends 'tgrsite/main.html' %}
{% load markdown_tags %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}
{% block pagetitle %}{{ object.title }}{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "newsletters:newsletters_index" %}">Newsletters</a></li>
{% endblock %}
{% block breadcrumbs_child %}{{ object.title }}{% endblock %}

{% block body %}
    <div class="card mb-3">
        <img alt="Warwick Tabletop and Role-Playing Society Banner" src="{% static 'newsletter-banner.png' %}"
             class="card-img-top">
        <div class="card-header">
            <h3 class="mb-0 d-flex flex-wrap justify-content-between align-items-center">
                {% if object.author %}
                    <span>Written by {% include "parts/render_member.html" with member=object.author %}</span>
                {% endif %}
                <small>({{ object.pub_date }})</small>
            </h3>
        </div>
        <div class="card-body">
            {% if not object.ispublished %}<div class="alert alert-warning text-center"><strong>Unpublished</strong></div>{% endif %}
            <article class="card-text">
                {{ object.body|parse_md_safe }}
            </article>
        </div>
    </div>
{% endblock %}
{% block leftcontents %}
    {{ block.super }}
    {% if object.author == user.member or perms.newsletters.modify_others %}
        <div class="btn-group-vertical btn-block">
            <a class="btn btn-outline-primary" href="{% url 'newsletters:newsletters_update' object.id %}">Edit
                Newsletter</a>
            <a class="btn btn-outline-danger" href="{% url 'newsletters:newsletters_delete' object.id %}">Delete
                Newsletter</a>
        </div>
        <div class="btn-group-vertical btn-block">
                <a class="btn btn-outline-primary" href="{% url 'newsletters:newsletters_email' object.id %}"
                   download="email_{{ object.id }}.html">Email Version</a>
                <a class="btn btn-outline-primary" href="{% url 'newsletters:newsletters_plaintext' object.id %}">Text
                    Version</a>
        </div>
    {% endif %}
{% endblock %}