{% extends 'tgrsite/noleftbar.html' %}
{% load markdown_tags %}
{% load static %}

{% block title %}{{object.title}}{% endblock %}
{% block leftcontents %}
{% if object.author == user.member or not object.author %}
	<p><a href="{% url 'newsletters_update' object.id %}">Edit Newsletter</a></p>
	<p><a href="{% url 'newsletters_delete' object.id %}">Delete Newsletter</a></p>
{% endif %}
{% endblock %}

{% block body %}

<img src={% static 'newsletter-banner.png' %} width='100%' />
<h1>{{object.title}}
	<small>{% if object.author %} by <a href='{% url 'user' object.author.id %}'>{{object.author}}</a> {% endif %}<small>({{object.pub_date}})</small></small></h1>
<p></p>
{{object.body|parse_md}}

{% endblock %}
