{% extends "tgrsite/email.html" %}
{% load markdown_tags %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block body %}
    <p id="incorrect-newsletter">Newsletter doesn't look right? Try viewing it on our website <a
            href="{% url 'newsletters:newsletters_detail' object.id %}">here</a>!
    </p>
    <div id="email-content">
        <img alt="Warwick Tabletop and Role-Playing Society Banner"
             src="{% static 'images/newsletter_banner_2.png' %}"
             class="img-fluid mb-2" style="width: 100%">

        <h3 class="mb-2">
            {% if object.author %}
                <span>Written by {% include "parts/render_member.html" with member=object.author avatarless=True nobadge=True nolink=True %}</span>
            {% endif %}

            (<small class="text-nowrap">{{ object.pub_date }}</small>)
        </h3>
        <div class="markdown-text">
            {{ object.body|parse_md_safe }}
        </div>
        <p>If you no longer want to receive these messages, visit <a
                href="{% url "notifications:notification_settings" %}">your
            notification subscriptions</a> to unsubscribe.</p>
    </div>
{% endblock %}