{% extends 'tgrsite/main.html' %}
{% block title %}Update Newsletter{% endblock %}
{% block pagetitle %}Update Newsletter{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "newsletters:newsletters_index" %}">Newsletters</a></li>
    <li class="breadcrumb-item"><a href="{% url "newsletters:newsletters_detail" pk=object.pk %}">{{object.title}}</a></li>
{% endblock %}
{% block breadcrumbs_child %}Update{% endblock %}

{% block body %}
    {% include "parts/render_form.html" %}
{% endblock %}