{% extends 'tgrsite/main.html' %}

{% block title %}Loans - {{ inv.name }}{% endblock %}
{% block pagetitle %}{{ inv.name }} Loans{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "inventory:index" inv.canonical_ %}">{{ inv.name }}</a></li>
{% endblock %}
{% block breadcrumbs_child %}Loans{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.inventory.change_loan %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:inventory_loan_changelist" %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="mb-3">
        <a class="btn btn-block btn-outline-success"
           href="{% url "inventory:create_loan" inv=inv.canonical_ %}">Request Loan</a>
    </div>
    {% include "inventory/parts/loanlist.html" with loans=object_list %}
{% endblock %}