{% extends 'tgrsite/main.html' %}

{% block title %}{{ inv.name }}{% endblock %}
{% block pagetitle %}{{ inv.name }}{% endblock %}

{% block breadcrumbs_child %}{{ inv.name }}{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.inventory.change_inventory %}
        <a class="btn btn-block btn-outline-dark" href="{% url "admin:inventory_inventory_change" inv.id %}">Edit</a>
    {% endif %}
{% endblock %}

{% block body %}
    {% if inv.loans or inv.suggestions %}
        <p class="btn-group btn-block">
            {% if inv.suggestions %}
                <a class="btn btn-outline-primary"
                   href="{% url "inventory:list_suggestions" inv=inv.canonical_ %}">Suggestions</a>
            {% endif %}
            {% if inv.loans %}
                <a class="btn btn-outline-primary" href="{% url "inventory:list_loans" inv=inv.canonical_ %}">Loans</a>
            {% endif %}
        </p>
    {% endif %}
    {% if perms.inventory.add_record %}
        <p>
            <a class="btn btn-block btn-outline-success"
               href="{% url "inventory:create_record" inv=inv.canonical_ %}">Add new</a>
        </p>
    {% endif %}
    <div class="list-group">
        {% for object in object_list %}
            <a href="{% url "inventory:item_detail" inv=inv.canonical_ pk=object.id %}"
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{ object.name }}
                {% if object.quantity > 1 %}<span class="badge badge-primary badge-pill ">{{ object.quantity }}</span>{% endif %}
            </a>
        {% empty %}
            <div class="list-group-item text-muted">No records exist</div>
        {% endfor %}
    </div>
{% endblock %}