{% extends 'tgrsite/main.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style>
        .my-responsive {
            width: 50%;
            max-width: 500px;
            height: auto;
            float: right;
        }
    </style>
{% endblock %}

{% block title %}
    {{ inv.name }}
{% endblock %}

{% block body %}
    <h1>{{ inv.name }} - {{ object.name }}</h1>
    <p>in <a href="{% url "inventory:index" inv=inv.canonical_ %}">{{ inv.name }}</a></p>

    {% if perms.inventory.change_record %}
        <a class="btn btn-primary" href="{% url "inventory:edit_record" inv=inv.canonical_ pk=object.pk %}">Edit</a>
    {% endif %}

    {% if object.image %}
        <img alt="{{ object.name }} example image" class="my-responsive" src="{{ object.image }}">
    {% endif %}

    {% if object.acquired %}
        <h3>Acquired: </h3>
        <p>{% if object.acquired.day == 1 and object.acquired.month == 1 %}{{ object.acquired.year }}{% else %}
            {{ object.acquired|date }}{% endif %}</p>
    {% endif %}

    {% if object.quantity > 1 %}
        <h3>Quantity: {{ object.quantity }}</h3>
    {% endif %}

    {% if object.description %}
        <h3>Description</h3>
        <p>
            {{ object.description|linebreaksbr }}
        </p>
    {% endif %}

    <div class="clearfix"></div>
    {% if object.owner %}
        <div class="well well-sm">Graciously lent to the society by {{ object.owner }}</div>{% endif %}

    {% if perms.inventory.view_loan and object.inventory.loans and object.get_live_loans|length > 0 %}
        <h3>Loans</h3>
        {% include "inventory/parts/loanlist.html" with loans=object.get_live_loans %}
    {% endif %}

{% endblock %}