{% load timetable_tags %}


<div class="table-responsive">
    <table class="table table-bordered table-striped">

        {% if timetable.colour %}
            <thead class="bg-primary {% if timetable.colour.light_text %}text-always-light{% else %}text-always-dark{% endif %}"
                   style="background-color: {{ timetable.colour.html_code }} !important;">
        {% else %}
            <thead class="bg-primary">
        {% endif %}
        <tr>
            <td class=""><strong>Week number</strong></td>
            {% for week in timetable.weeks.all %}
                <td class="text-center align-middle"><strong>{{ week.number }}</strong></td>
            {% endfor %}
        </tr>
        <tr>
            <td class=""><strong>Week commencing</strong></td>
            {% for week in timetable.weeks.all %}
                <td class="text-center align-middle"><strong>{{ week.startDate }}</strong></td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for event in timetable.events.all %}
            <tr>
                <td class="text-center align-middle"><strong>{{ event.description }}<br>{{ event.date_time_line }}
                </strong>
                </td>
                {% for booking in timetable.weeks.all|for_event:event %}
                    <td class="text-center align-middle" colspan="{{ booking.0 }}">
                        {% if booking.1 %}
                            {% room_link booking.1 as link %}
                            {% if link %}
                                <a target="_blank" rel="noopener noreferrer" href="{{ link }}">{{ booking.1 }}</a>
                            {% else %}
                                {{ booking.1 }}
                            {% endif %}
                        {% else %}
                            Not running
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% for note in timetable.notes.splitlines %}
    <p class="card-text">{{ note }}</p>
{% endfor %}
