<p>To subscribe to any of our calendars, you can either:</p>
<table class="table table-condensed" style="margin-bottom: 0;">
    <thead>
    <tr>
        <td class="text-wrap">
            Subscribe with your default calendar
        </td>
        <td class="text-wrap">
            You can also copy this link into your preferred viewer (such as google calendar):
        </td>
    </tr>
    </thead>
    <tbody>
    {% for cal in google_cals %}
        <tr>
            <td>
                <a class="btn btn-block btn-outline-primary"
                   href="webcal:{{ cal.url }}">
                    {{ cal.name }}
                </a>
            </td>
            <td class="text-break-all">
                <a class=""
                   href="webcal:{{ cal.url }}">
                    https:{{ cal.url }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>