{% extends 'tgrsite/main.html' %}
{% block title %}
    Exec page
{% endblock %}
{% block body %}

    <h1>Society Execs</h1>

    {% for role in execs %}
        {% if role.incumbent %}
            <div class="media">
                <div class="media-left">
                    <img class="media-object photo"
                            {% if role.incumbent %}
                         src="{{ role.incumbent.official_photo_url | default:role.incumbent.gravatar }}"
                            {% else %}
                         src="http://gravatar.com/avatar/?default=mm"
                            {% endif %}
                         alt="Photo for {{ role.incumbent }}">
                </div>
                <div class="media-body wordwrap" id="{{ role.role_title }}">
                    <h3 class="media-heading title">
                        {{ role.role_title }} -
                        {% if role.incumbent %}
                            {% if role.incumbent.equiv_user.get_full_name %}
                                {{ role.incumbent.equiv_user.get_full_name }} (
                                <a href="{% url 'user' role.incumbent.id %}">{{ role.incumbent }}</a>
                                <img class="inline-gravatar" src="{{ role.incumbent.gravatar }}"
                                     alt="Avatar for {{ role.incumbent }}">)
                            {% else %}
                                <a href="{% url 'user' role.incumbent.id %}">
                                    {{ role.incumbent }}
                                    <img class="inline-gravatar" src="{{ role.incumbent.gravatar }}"
                                         alt="Avatar for {{ role.incumbent }}">
                                </a>
                            {% endif %}
                        {% else %}
                            Unoccupied
                        {% endif %}</h3>
                    <p>{{ role.bio }}
                        {% if request.user.member == role.incumbent %}
                            <a href="{% url 'exec_editbio' role.id %}"><i class="fa fa-pencil"></i></a>
                        {% endif %}</p>
                </div>
            </div>
        {% endif %}
    {% empty %}
        there doesn't seem to be anyone here
    {% endfor %}

    <style type="text/css">
        .photo {
            width: 144px;
            height: 144px;
        }

        .title {
            display: inline-block;
        }

        .inline-gravatar {
            display: inline-block;
            height: 1em;
        }

    </style>

{% endblock %}
