{% extends 'tgrsite/main.html' %}
{% block title %}
    Exec page
{% endblock %}
{% block pagetitle %}Society Execs{% endblock %}
{% block breadcrumbs_child %}Exec{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.exec.change_execrole %}
        <p><a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:exec_execrole_changelist" %}">Edit</a></p>
    {% endif %}
{% endblock %}

{% block body %}
    <ul class="list-unstyled">
        {% for role in execs %}
            {% if role.incumbent %}
                <li class="card mb-2">
                    <a class="anchor" id="{{ role.role_title|cut:" " }}"></a>
                    <div class="card-body">
                        <h4 class="card-title text-center text-sm-left">
                            {{ role.role_title }} -
                            {% include "parts/render_member.html" with member=role.incumbent fullname=True %}
                            {% if request.user.member == role.incumbent %}
                                <a class="btn btn-outline-success" href="{% url 'exec:exec_editbio' role.id %}"><i
                                        class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                        </h4>
                        <div class="d-flex flex-column flex-sm-row">
                            <div class="mr-sm-4 mb-2 mb-sm-0 align-self-center align-self-sm-start"
                                 style="flex-basis: 144px; flex-shrink: 0; flex-grow: 0">
                                <img class="photo card-img align-self-center"
                                     src="{{ role.incumbent.official_photo_url | default:role.incumbent.gravatar }}"
                                     alt="Photo for {{ role.incumbent }}" height="144">
                            </div>
                            <div class="card-text">
                                {{ role.bio|linebreaks }}
                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% empty %}
            <li class="card bg-warning mb-2"><div class="card-body">No roles have been defined. Get the web admin to add them in the admin interface</div></li>
        {% endfor %}
    </ul>
{% endblock %}
