{% extends 'tgrsite/main.html' %}
{% block body %}

<h2>Society Execs</h2>

{% for role in execs %}
	<div class="media">
		<div class="media-left">
			<img class="media-object"
				{% if role.incumbent %}
					src="{{role.incumbent.gravatar}}"
				{% else %}
					src="http://gravatar.com/avatar/?default=mm"
				{% endif %}
				alt="Avatar for {{ role.incumbent }}">
		</div>
		<div class="media-body" id="role.role_title">
			<h5 class="media-heading">
			{% if role.incumbent %}
			<a href="{% url 'user' role.incumbent.id %}">
				{{ role.incumbent }}
			</a>
			{% else %}
				{{ role.incumbent|default_if_none:"Unoccupied" }}
			{% endif %}
			 - {{ role.role_title }}</h5>
			{{ role.bio }}
		</div>
	</div>

{% endfor %}

<style type="text/css">
img {
	width: 72px;
	height: 72px;
}
</style>

{% endblock %}

