{% load humanize %}
<ul class="list-group">
    {% for message in message_list %}
        <li class="list-group-item">
            <div class="d-flex flex-row">
                <div class="d-flex mr-3 flex-column align-content-center flex-shrink-0">
                    <a href="{% url "users:user" pk=message.sender.pk %}"
                       class="d-flex align-content-center justify-content-center mt-1"
                       {% if not full %}data-toggle="tooltip" data-html="true" title="{{ message.timestamp|naturaltime }}"{% endif %}>
                        <img width="{% if full %}40{% else %}30{% endif %}" height="{% if full %}40{% else %}30{% endif %}" src="{{ message.sender.gravatar }}"
                             alt="{{ message.sender.equiv_user.username }}">
                    </a>
                </div>
                <div class="flex-grow-1 d-flex flex-column justify-content-center">
                    {% if full %}
                        <div class="d-flex flex-column flex-sm-row justify-content-start align-items-sm-baseline">
                            <span class="card-text mr-1">{% include "parts/render_member.html" with member=message.sender avatarless=True short=True %}</span>
                            <small class="card-text text-muted">
                                {{ message.timestamp|naturaltime }}
                            </small>
                        </div>
                    {% endif %}
                    <div class="card-text text-break">
                        {{ message.content|linebreaks }}
                    </div>
                </div>
            </div>
        </li>
    {% empty %}
        <span class="text-muted">
            No messages
        </span>
    {% endfor %}
</ul>
