{% load markdown_tags %}
{% load pagination_tags %}
{% load rpg_tags %}

{% can_manage user.member rpg as manager %}

<div class="card mb-3">
    <a href="{% url "rpgs:detail" rpg.pk %}"
       class="card-link card-header d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <h5 class="mb-0 text-center text-sm-left">{{ rpg.title }}</h5>
        <div class="d-flex flex-column align-items-center align-items-sm-end">
            <span class="mb-0 text-muted text-center text-sm-right">{{ rpg.time_slot }}</span>
            <span class="mb-0 text-muted text-center text-sm-right">{{ rpg.location }}</span>
        </div>
    </a>
    <div class="card-body">
        <div class="d-flex flex-sm-row-reverse flex-column align-items-sm-center justify-content-between">
            <p class="mb-0">
                {% for tag in rpg.tags.all %}<a href="{% url "rpgs:index" %}?{% url_replace "tag" tag.name %}"
                                                class="badge badge-primary mr-1">{{ tag }}</a>{% endfor %}
            </p>
            <em class="card-text">{{ rpg.system }}</em>
        </div>

        <p class="card-title">
            {% if embed %}
                {{ rpg.description|parse_md|truncatechars_html:512 }}
            {% else %}
                {{ rpg.description|parse_md }}
            {% endif %}
        </p>
        {% if rpg.game_masters.all %}
            <p class="card-text mb-0">
                Ran by:
                {% for member in rpg.game_masters.all %}
                    {% include "parts/render_member.html" with avatarless=True %}
                    {% if not forloop.last %}{% if forloop.revcounter0 == 1 %}and{% else %},{% endif %}{% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <p class="card-text mb-2">
            Players:
            <span class="badge badge-pill badge-primary">{{ rpg.members.count }}/{{ rpg.players_wanted }}</span>
        </p>
        {% if not embed %}
            <ul class="list-group">
                {% for member in rpg.members.all %}
                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center">
                        {% include "parts/render_member.html" with avatarless=True %}
                        {% if manager %}
                        <form method="POST" action="{% url "rpgs:kick" rpg.pk %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ rpg.pk }}" name="id">
                            <input type="hidden" value="{{ member.pk }}" name="user-to-remove">
                            <button type="submit" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" title="Kick User">
                                <i class="fas fa-times"></i><span class="sr-only">Kick User</span>
                            </button>
                        </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if user.member in rpg.members.all or user.member in rpg.game_masters.all %}
                <a class="btn btn-block btn-outline-primary mt-2" href="{% url "rpgs:message" rpg.pk %}">Message All</a>
            {% endif %}
        {% endif %}
    </div>
    {% if not embed and user.is_authenticated %}
        {% if user.member in rpg.members.all %}
            <form id="event_leave" action="{% url "rpgs:leave" rpg.pk %}" method="post">
            {% csrf_token %}
            </form>
        {% else %}
            <form id="event_join" action="{% url "rpgs:join" rpg.pk %}" method="post">
            {% csrf_token %}
            </form>
        {% endif %}
        <div class="card-footer d-flex flex-column flex-sm-row justify-content-between align-items-sm-center">
            <div class="flex-grow-1 mb-0">
                {% if user.member not in rpg.game_masters.all %}
                    <div class="btn-group btn-block">
                    {% if user.member in rpg.members.all %}
                        <button form="event_leave" type="submit" class="btn btn-outline-warning">Leave</button>
                    {% else %}
                        {% if rpg.members.count < rpg.players_wanted %}
                            <button form="event_join" type="submit" class="btn btn-outline-success">Join</button>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endif %}
            </div>
            {% if manager %}
                <form method="post" class="d-flex flex-grow-1 mx-0 mb-2 mb-sm-0 ml-sm-3" id="event_add_to" action="{% url "rpgs:add_to" rpg.pk %}">
                    <div class="form-group d-flex flex-grow-1 m-0 justify-content-around align-items-center">
                        {% csrf_token %}
                        <label for="event_add_by_username" class="sr-only"></label>
                        <div class="flex-fill ml-0 mr-1"><input type="text" class="form-control add-member-input" data-provide="typeahead" autocomplete="off" name="username" id="event_add_by_username" placeholder="Username"></div>
                        <div class="mr-0">
                            <button type="submit" class="btn btn-block btn-outline-success" form="event_add_to" data-toggle="tooltip" title="Add Member">
                                <i class="fas fa-user-plus"></i><span class="sr-only">Add Member</span>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="btn-group ml-sm-3">
                    <a class="btn btn-outline-primary" href="{% url "rpgs:edit" rpg.pk %}"  data-toggle="tooltip" title="Edit Event"><i
                            class="fas fa-edit"></i><span class="sr-only">Edit Event</span></a>
                    <a class="btn btn-outline-danger" href="{% url "rpgs:delete" rpg.pk %}" data-toggle="tooltip" title="Delete Event"><i
                            class="fas fa-trash-alt"></i><span class="sr-only">Delete Event</span></a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
