{% extends "tgrsite/email.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <div id="email-content">
        <img alt="Warwick Tabletop and Role-Playing Society Banner"
             src="{{ request.scheme }}://{{ request.get_host }}{% static 'newsletter-banner.png' %}"
             class="img-fluid mb-2" style="width: 100%">
        <h1>Greetings {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</h1>
        <p>Someone has requested a password reset for the account registered with this email.
            If this was not you, you can ignore this email</p>
        <p>If this was you, please follow this link to reset your password: {{ protocol}}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}</p>
        <h3>Cheers,<br>The Warwick Tabletop Team</h3>
        <p>If you no longer want to receive these messages, visit <a
                href="{{ request.scheme }}://{{ request.get_host }}{% url "notifications:notification_settings" %}">your
            notification subscriptions</a> to unsubscribe.</p>
    </div>
{% endblock %}