<div class="list-group">
    {% for aw in achievements %}
        <div class="achievement list-group-item flex-column">
            <strong>
            {% if aw.achievement.image %}
                <img src="{{aw.achievement.image.assetFile.url}}"
                style="max-height: 50px; margin-right: 10px;" />
            {% else %}
                <i class="fas {{aw.achievement.fa_icon}}"></i>
            {% endif %}
            {{aw.achievement.name}}
            </strong>
            {{aw.achievement.description}}
            [achieved {{aw.achieved_at|date:"d-m-Y"}}]
        </div>
    {% endfor %}
</div>
