{% extends 'tgrsite/main.html' %}
{% block title %}Edit profile{% endblock %}
{% block body %}

	{% if result == 'success' %}
	Successfully updated.
	{% elif result == 'invalid' %}
	There were problems with the form.
	{% endif %}

	(Note: to change your profile image, use <a href="https://en.gravatar.com/support/what-is-gravatar/">Gravatar.</a>)

	<form action="{% url 'update' %}" method="POST">
		{% csrf_token %}

		<div class="form-group">
			{{ userform.as_p }}
			{{ memberform.as_p }}
		</div>

	<input type="submit" class="form-control">
	</form>

{% endblock %}
