{% extends 'tgrsite/main.html' %}
{% block title %}Login{% endblock %}
{% block pagetitle %}Login{% endblock %}

{% block breadcrumbs_child %}Login{% endblock %}

{% block body %}

    {% include "parts/render_form.html" with save="Login" %}

    <div class="card">
        <div class="card-body">
            <p class="card-text text-center">
                <a href="{% url 'users:signup' %}">Sign up</a> &middot;
                <a href="{% url 'users:password_reset' %}">Reset password</a>
            </p>
        </div>
    </div>


{% endblock %}
