{% extends 'tgrsite/main.html' %}
{% block body %}

{%if result == 'invalid' %}
<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	Invalid user for spooky reasons.
</div>
{% endif %}

<form action="{% url 'signup-done' %}" method="POST">
	{% csrf_token %}
	<div class="form-group">
		{{form.as_p}}
	</div>
	<input type="submit" value="Sign Me Up" class="form-control">
</form>

<a href="{% url 'login' %}">Log In</a>
{% endblock %}
