{% extends 'tgrsite/main.html' %}
{% block title %}{{ member.equiv_user.username }}{% endblock %}
{% block body %}

    {% load markdown_tags %}

    <div class="jumbotron">
        <img src="{{ member.gravatar }}" alt="Avatar for {{ member.equiv_user.username }}" class="avatar">

        <h1 class="wordwrap">{{ member.equiv_user.username }}</h1>
        {% if member != request.user.member %}
            <a href="{% url 'get_dm_thread' member.id %}">Message</a>
        {% endif %}
        {% if member.equiv_user.first_name or member.equiv_user.last_name %}
            <h2 class="wordwrap">{{ member.equiv_user.get_full_name }}</h2>
        {% endif %}
        {% if execroles %}
            <h3>
                {% for x in execroles %}
                    {% if x != execroles|first %} / {% endif %}
                    <a href="{% url 'exec' %}#{{ x.role_title }}">{{ x.role_title }}</a>
                {% endfor %}
            </h3>
        {% endif %}

        <div class="wordwrap">{{ member.bio|parse_md }}</div>

        {% if recent_threads %}
            <h4>Recent threads</h4>
            <ul class="nobullet">
                {% for thread in recent_threads %}
                    <li><a href="{% url 'viewthread' thread.id %}">{{ thread.title|truncatechars:32 }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if recent_responses %}
            <h4>Recent responses</h4>
            <ul class="nobullet">

                {% for response in recent_responses %}
                    <li>
                        <a href="{% url 'viewthread' pk=response.thread.id %}#response-{{ response.id }}">
                            {{ response.body|parse_md|striptags|truncatechars:32 }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if rpgs %}
            <h4>Games running</h4>
            <ul class="nobullet">
                {% for rpg in rpgs %}
                    <li><a href="{% url 'rpg' rpg.id %}">{{ rpg.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if me or request.user.member.id == member.id %}
            <a href="{% url 'edit' %}">Edit profile</a>
        {% endif %}
    </div>

{% endblock %}
