{% extends 'tgrsite/main.html' %}
{% block title %}{{ member.equiv_user.username }}{% endblock %}
{% block pagetitle %}{% include "parts/render_member.html" with short=True avatarless=True nolink=True %}{% endblock %}

{% block breadcrumbs_child %}Profile{% endblock %}

{% block body %}

    {% load markdown_tags %}

    <div class="card">
        {% if member.equiv_user.first_name or member.equiv_user.last_name %}
            <h2 class="card-header">{{ member.equiv_user.get_full_name }}</h2>
        {% endif %}
        <div class="card-body">
            {% if member != request.user.member %}
                <p class="card-text mb-3"><a class="btn btn-block btn-outline-primary"
                                        href="{% url 'message:get_dm_thread' member.id %}">Message</a></p>
            {% endif %}

            {% if member.exec_roles.all %}
                <h3 class="mb-3">
                    {% for x in member.exec_roles.all %}
                        {% if not forloop.first %} / {% endif %}
                        <a href="{% url 'exec:exec' %}#{{ x.role_title|urlencode }}">{{ x.role_title }}</a>
                    {% endfor %}
                </h3>
            {% endif %}
            {% if member.discord %}
                <h3 class="mb-3"><i class="fab fa-discord"></i> {{ member.discord }}</h3>
            {% endif %}
            {% if member.bio %}
                <div class="card card-body card-text mb-3">{{ member.bio|parse_md }}</div>{% endif %}

            {% if recent_threads %}
                <div class="mb-3">
                    <h4>Recent threads</h4>
                    {% include "forum/parts/thread_list.html" with threads=recent_threads userless=True %}
                </div>
            {% endif %}

            {% if recent_responses %}
                <div class="mb-3">
                    <h4>Recent responses</h4>
                    {% include "forum/parts/response_list.html" with responses=recent_responses userless=True %}
                </div>
            {% endif %}

            {% if rpgs %}
                <div class="mb-3">
                    <h4>Events running</h4>
                    <div class="list-group">
                        {% for rpg in rpgs %}
                            <a class="list-group-item list-group-item-action d-flex flex-column"
                               href="{% url 'rpgs:detail' rpg.id %}">
                                <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                                    <strong>{{ rpg.title }}</strong>
                                    <span class="text-muted text-right flex-sm-shrink-0 ml-sm-2">{{ rpg.timeslot }}</span>
                                </span>
                                <span class="d-flex flex-column flex-sm-row justify-content-between align-items-baseline">
                                    <span class="">{{ rpg.system }}</span>
                                    <span class="badge badge-pill badge-primary mb-0 d-none d-sm-block">{{ rpg.members.count }}/{{ rpg.players_wanted }}</span>
                                </span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


        </div>
        {% if request.user.member == member %}
            <div class="card-footer">
                <a class="btn btn-block btn-outline-primary" href="{% url 'users:edit' %}">Edit profile</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block leftcontents %}
    {{ block.super }}
    {% if perms.users.change_member %}
        {% if perms.auth.change_user %}
            <a class="btn btn-block btn-outline-dark" href="{% url "admin:auth_user_change" member.equiv_user.pk %}">Edit</a>
        {% else %}
            <a class="btn btn-block btn-outline-dark" href="{% url "admin:users_member_change" member.pk %}">Edit</a>
        {% endif %}
    {% endif %}
{% endblock %}