{% extends "tgrsite/main.html" %}

{% load messaging_tags %}
{% block title %}
    Messages
{% endblock %}
{% block body %}
    <h1>Messages</h1>
    <ul class="nobullet">
        {% for thread in threads %}
            <li>
                <a href="{% url 'message_thread' thread.id %}">
                    <strong>{% get_conversation_name thread request.user.username %}
                        ({{ thread.get_latest.timestamp }})</strong></a>

                {% include 'messaging/messages.html' with messages=thread.five %}
            </li>
            <br>
        {% empty %}
            You haven't received any messages yet.
        {% endfor %}
    </ul>
{% endblock %}


{% block rightbar %}
    <div class="panel panel-default">
        <a class="block panel-heading" href="#body_qdm" data-toggle="collapse">
            Quick DM
        </a>
        <div id="body_qdm" class="panel-collapse collapse in">
            <div class="panel-body">
                <form method="POST" action="{% url 'message_direct' %}?next={{ request.path }}" id="quickdm">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" name="target" placeholder="recipient">
                        <textarea class="form-control" placeholder="message" name="message" form="quickdm"
                                  autocomplete="off"></textarea>
                        <input type="submit" class="form-control" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
