{% extends "tgrsite/main.html" %}

{% load messaging_tags %}

{% block body %}
<h1>Messages</h1>
{% comment forms.py %}
I mean I _should_ do a proper Django Form but i cba
{% endcomment %}
Quick DM
<form method="POST" action="{% url 'message_dm' %}?next={{request.path}}" id="quickdm">
	{% csrf_token %}
	<div class="form-group">
	<input class="form-control" name="target" placeholder="to (comma separated for group)">
	<textarea class="form-control" placeholder="message" name="message" form="quickdm"></textarea>
	<input type="submit" class="form-control" value="Send">
</form>
<ul>
	{% for thread in threads %}
	<li>
		<a href="{% url 'message_thread' thread.id %}">
		<strong>{% get_participants_excluding_self thread user %}
		({{thread.get_latest.timestamp}})</strong></a>

		{% include 'messaging/messages.html' %}
	</li>
	<br>
	{% endfor %}
</ul>
{% endblock %}
