{% extends "tgrsite/main.html" %}

{% load messaging_tags %}
{% block title %}Messages{% endblock %}
{% block pagetitle %}Messages{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url 'message:message_list' %}">Messages</a></li>
{% endblock %}
{% block breadcrumbs_child %}Reports{% endblock %}

{% block body %}
    <ul class="list-unstyled">
        {% for thread in threads %}
            <li class="card mb-3">
                <a class="card-header card-link d-flex flex-column flex-sm-row justify-content-sm-between"
                   href="{% url 'message:message_thread_full' thread.id %}">
                    <span class="card-text">{% get_conversation_name thread request.user %}</span>
                    {% if thread.get_latest %}
                        <span class="text-muted">({{ thread.get_latest.timestamp }})</span>{% endif %}
                </a>
                <div class="card-body">
                    {% include 'messaging/parts/messages.html' with message_list=thread.reported %}
                </div>
            </li>
        {% empty %}
            <li class="card mb-3">
                <div class="card-body">
                    <p class="card-text text-muted">
                        You haven't received any messages yet.
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}


{% block rightbar %}

{% endblock %}
{% block bottomscripts %}
    {{ block.super }}
    {% include "parts/user_typeahead.html" %}
{% endblock %}
