{% extends 'tgrsite/main.html' %}

{% load markdown_tags %}

{% block head %}{{ block.super }}{{ page.head|safe }}{% endblock %}
{% block css %}{{ block.super }}{{ page.css|safe }}{% endblock %}
{% block title %}{{ page.title|safe }}{% endblock %}

{% block pagetitle %}{{ page.page_title|safe }}{% endblock %}

{% block breadcrumbs_parents %}
    {% for parent in page.breadcrumb_parents.all %}
        <li class="breadcrumb-item"><a href="{{ parent.url }}">{{ parent.name }}</a></li>
    {% endfor %}
{% endblock %}
{% block breadcrumbs_child %}{{ page.breadcrumb_child }}{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.pages.change_page %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:pages_page_change" page.pk %}">Edit</a>
    {% endif %}
    {% for widget in page.widgets.all %}
        {% include "pages/parts/sidebar_widget.html" with widget=widget %}
    {% endfor %}
    {% if page.markdown %}{{ page.leftbar|parse_md_safe }}{% else %}{{ page.leftbar|safe }}{% endif %}
{% endblock %}

{% block body %}{{ block.super }}{% if page.markdown %}{{ page.body|parse_md_safe }}{% else %}{{ page.body|safe }}{% endif %}{% endblock %}