{% extends 'tgrsite/main.html' %}

{% load markdown_tags %}

{% block title %}{{ page.title|safe }}{% endblock %}
{% block head %}{{ page.head|safe }}{% endblock %}
{% block body %}{{ block.super }}{{ page.body|parse_md_safe }}{% endblock %}
{% block css %}{{ block.super }}{{ page.css|safe }}{% endblock %}
{% block leftbar %}{{ page.leftbar|parse_md_safe }}{% endblock %}
{% block rightbar %}
    {% if perms.pages.update_page %}
        <p><a class="btn btn-info" href="{% url "admin:pages_page_change" page.pk %}">Edit</a></p>
    {% endif %}
    {{ page.rightbar|parse_md_safe }}
{% endblock %}
