<!DOCTYPE html>
<html lang="en">
<head> <meta charset="UTF-8"> <title>Title</title>
    <!-- Begin css -->
    <style>
        .my-responsive {
            width: 25%;
            max-width: 500px;
            height: auto;
            float: right;
        }
    </style>
    <!-- End css -->
</head>
<body>

<!-- Begin rightbar -->
<div class="list-group">
    <a class="list-group-item" href="#proxy">What's the society's stance on proxies/counterfeits/etc?</a>
    <a class="list-group-item" href="#member">Do you need to buy membership to come to our events?</a>
    <a class="list-group-item" href="#new">I'm new to all this, what is there for beginners like me?</a>
    <a class="list-group-item" href="#timetable">When do you run events?</a>
    <a class="list-group-item" href="#stalwart">So, your board games events start at 2pm, but what if I can only turn up at 5pm?</a>
    <a class="list-group-item" href="#library">Okay, what board games do you have?</a>
    <a class="list-group-item" href="#weekends">What are these Board Game Weekends I've heard about?</a>
    <a class="list-group-item" href="#wargpoor">I've never played a wargame before, and they look really expensive, can I come to an event without my own army?</a>
    <a class="list-group-item" href="#wargwhat">I want to play a wargame, but I don't know what games or armies people play, where can I find out?</a>
    <a class="list-group-item" href="#ccgpoor">Okay, what if I want to play a card game instead of a wargame, do you have society decks?</a>
    <a class="list-group-item" href="#draft">How do I get into Magic Drafting?</a>
    <a class="list-group-item" href="#rpgnewb">I'm new to RPGs and wanna try some! How do?</a>
    <a class="list-group-item" href="#groupme">I'm looking to take part in an RPG campaign or one-shot, where can I find out about them?</a>
    <a class="list-group-item" href="#rpgpoor">I'm looking to run an RPG campaign or one-shot, does the society have anything I can borrow?</a>
    <a class="list-group-item" href="#rpgventurous">I want to try something other than D&D, what would you recommend?</a>
    <a class="list-group-item" href="#larpnewb">Okay, but what about LARP? How do I get into that?</a>
    <a class="list-group-item" href="#larppoor">But do I need to bring my own clothes to LARP?</a>
    <a class="list-group-item" href="#outboard">I'm representing a society looking to run a board game event, can we borrow your games?</a>
    <a class="list-group-item" href="#outlarp">I'm representing a society looking to run a play, or re-enactment, can we borrow your LARP equipment?</a>
    <a class="list-group-item" href="#special">What special events do you run?</a>
    <a class="list-group-item" href="#suggest">I came across this great game, and I think the society should get a copy, where can I suggest this?</a>
    <a class="list-group-item" href="#bring">What if I want to bring my own game to an event?</a>
    <a class="list-group-item" href="#loaned">What's this about loaned or donated games?</a>
    <a class="list-group-item" href="#problems">I've had a problem at an event, or I'm worried about things happening, or I've felt uncomfortable due to something, is there any support?</a>
    <a class="list-group-item" href="#contact">I want to talk to the exec for some other reason, what's the best way to do this?</a>
    <a class="list-group-item" href="#snore">Can I turn up to an exec meeting?</a>
</div>

<!-- End rightbar -->
<!-- Begin body -->

<h1>FAQ</h1>

<h3 id="proxy">What's the society's stance on proxies/counterfeits/etc?</h3>
<p>Proxy cards are allowed at our casual card games event! Just talk to your opponent and make sure they're okay with you using proxy cards - most of them will be absolutely fine with this but it's good to check. If we run an event that disallows proxies, such as a tournament, this will be made clear. Counterfeits actively damage Wizards of the Coast, and as such, please don't play with them.</p>

<h3 id="member"><img alt="Society dice are really pretty" src="/static/diceheart.jpg" class="my-responsive">
Do you need to buy membership to come to our events?</h3>
<p>No, but you get a die! They're so pretty. Buying membership also gives us funds to buy more cool stuff for the society (more board games, more RPG sourcebooks, more wargames territory, more LARP equipment, more events etc.)
</p>
<span class="clearfix"></span>

<h3 id="new">I'm new to all this, what is there for beginners like me?</h3>
<p>Just come to our normal events! There are always people who are happy to help people learn new games - keep an eye out for Exec in purple hoodies or wearing purple badges.</p>

<h3 id="timetable">When do you run events?</h3>
<p>All the time! We run events most days of the week, and you can also see our <a href="/timetable/">timetable</a>. We also have business cards with our timetable on; ask an exec at an event and they can give you one. Most of the time we're in the same rooms all term, but not always, so do double-check!</p>

<h3 id="stalwart">So, your board games events start at 2pm, but what if I can only turn up at 5pm?</h3>
<p>You can come whenever you like! Our board games sessions are drop-in, and people come and go all the time. Between 2pm and 10pm is when we have the room booked, and boardgames pulled out, but you're free to turn up at any time. You don't have to turn up at 2pm and play for 8 hours!</p>

<h3 id="library">Okay, what board games do you have?</h3>
<p>Lots. Lots and lots. Take a look at our <a href="#" onclick="alert('Coming Soon');">library</a> and you'll see that it contains games from deck-builders and pieces-of-art-builders, to Star Wars and Battlestar Galactica, to houses of horror and Mansions of Madness, to superheroes and sushi making, and yes, even Monopoly. Whatever you're interested in, there's something for you; and a whole lot of new games to discover.</p>

<h3 id="weekends">What are these Board Game Weekends I've heard about?</h3>
<p>Throughout the year, we have several events where we will book a room out for the whole weekend. Throughout this time, people are free to play games (mainly board games, but there are often games of X-Wing, Magic the Gathering, and also occasionally even video games), and as normal, you can come and go as you wish. This is an often an opportunity to play longer or less-often played games (like Diplomacy, or Two Rooms and a Boom), and for general socialising as lots of ex-members, or people who can't come every week will attend.</p>

<h3 id="wargpoor">I've never played a wargame before, and they look really expensive, can I come to an event without my own army?</h3>
<p>Of course! The society has some X Wing miniatures, as well as some 40k armies. For further information, check with the Wargames rep.</p>

<h3 id="wargwhat">I want to play a wargame, but I don't know what games or armies people play, where can I find out?</h3>
<p>Before each session, the Wargames rep makes a Facebook post on the Wargames group where people advertise what they're bringing. If you want an idea of what is commonly played, check with the Wargames Rep.</p>

<h3 id="ccgpoor">Okay, what if I want to play a card game instead of a wargame, do you have society decks?</h3>
<p>Yes! We have a collection of 30-card intro decks for Magic and many Netrunner decks.</p>

<h3 id="draft">How do I get into Magic Drafting?</h3>
<p>We recommend you check out <a href="#" onclick="alert('Link Plz');">this guide</a> before drafting for the first time, and the online game Magic: the Gathering Arena is also a great way to learn.</p>

<h3 id="rpgnewb">I'm new to RPGs and wanna try some! How do?</h3>
<p>At the start of Term 1 and Term 2 we run introductory one-shot sessions which are primarily geared towards new players and learning how to play an RPG. If you miss these, contact the RPG's rep, and they may be able to sort something out.</p>

<h3 id="groupme">I'm looking to take part in an RPG campaign or one-shot, where can I find out about them?</h3>
<p>Start of term introductory events are a great place to try things, and also meet other members to arrange games. Also, take a look at the events page, and keep an eye on our Discord and Facebook page; throughout the year people will organise campaigns and one-shots there. Be advised though, places can fill very fast. If there's no open RPG's, send a message to the RPG's rep.</p>

<h3 id="rpgpoor">I'm looking to run an RPG campaign or one-shot, does the society have anything I can borrow?</h3>
<p>Of course! The society has several sourcebooks for D&D, as well as dry-wipe maps, pens and dice. Contact the RPG's rep to ask about what's available and when.</p>

<h3 id="rpgventurous">I want to try something other than D&D, what would you recommend?</h3>
<p>It depends! There's a lot of different RPG systems, and the only way to find which one you love most is to play them! We've tried to make a little page <a href="#" onclick="alert('Someone needs to write this...');">here</a> introducing some of the systems played in our Society, but it is by no means comprehensive of all the systems you can play. If you want specific advice of what might fit you best, have a chat with the RPG rep.</p>

<h3 id="larpnewb">Okay, but what about LARP? How do I get into that?</h3>
<p>Come along to our events on Sundays! There's a bunch of pre-genned characters that can be pulled out for new players unfamiliar with LARP, and there's always room for another adventurer. If you have any specific questions about the <a href="/static/UNITY_6.1.1.pdf">system</a> or LARP-ing in general, then message the LARP rep.</p>

<h3 id="larppoor">But do I need to bring my own clothes to LARP?</h3>
<p>No, in-fact, most of our players don't. The Society has several boxes full of LARP gear that you're free to use.</p>

<h3 id="outboard">I'm representing a society looking to run a board game event, can we borrow your games?</h3>
<p>Message us on Facebook or Discord! The board games rep will be able to help you out.</p>

<h3 id="outlarp">I'm representing a society looking to run a play, or re-enactment, can we borrow your LARP equipment?</h3>
<p>Message us on Facebook or Discord! The LARP rep or Quartermaster will be able to help you out.</p>

<h3 id="special">What special events do you run?</h3>
<p>You want more? We do run special events infrequently, including our infamous Tabletop Weekends, Termly Quizzes, themed events (like Pride or Hallow'eek), collaborations with other societies (like our annual Compsoc Laser Tag game), the end-of-year LARP trip to Kenilworth Castle, Murder Mysteries, and even a Megagame! All of these are typically advertised well ahead of time on our website, in newsletters, and on Discord and Facebook. If you have any questions about events, have a chat with the relevant rep.</p>

<h3 id="suggest">I came across this great game, and I think the society should get a copy, where can I suggest this?</h3>
<p>COMMING SOON!!!</p>

<h3 id="bring">What if I want to bring my own game to an event?</h3>
<p>That's great! A lot of our members love a chance to try something new. If it's long, or requires many players or foreknowledge, it might be worth advertising on our Discord, or the relevant Facebook page.</p>

<h3 id="loaned">What's this about loaned or donated games?</h3>
<p>In some cases - often with heavy games or ones generous people want to share - people leave games in the care of the Society while they're at Warwick. This does not mean the Society owns them, but that we store them and they may be played by anyone at board games events. These are marked and kept separately, and are never lent out to other societies etc. so if you want to play one, you will need to turn up to one of our events! Additionally, we do accept permanent donations to the society from even more generous members. In either case, if you want to know more or talk about these, talk to the relevant rep.</p>

<h3 id="problems">I've had a problem at an event, or I'm worried about things happening, or I've felt uncomfortable due to something, is there any support?</h3>
<p>If you've been having problems of any sort, or any sort of worries or discomfort, please do talk to our Welfare and/or Equal Opportunities Officers. All of our exec are here to help, and will try to aid you as they can (and are open if you're more comfortable talking to them), but if matters like this do arise, then we do strongly suggest speaking to the Welfare and/or Equal Opportunities Officers. They're here to help, and will be happy to talk to you about anything - big or small. We take the safety and comfort of our members very seriously, and will do our absolute best to resolve any issue as soon as we can.</p>

<h3 id="contact">I want to talk to the exec for some other reason, what's the best way to do this?</h3>
<p>Message us on Facebook, or a member of exec on Discord! Alternatively, if you want to talk face-to-face, there's always exec present at every one of our events.</p>

<h3 id="snore">Can I turn up to an exec meeting?</h3>
<p>Sure. Unfortunately timetabling meetings in advance is tricky, so final times and locations are often only known a couple of days before. This means that if you want to attend an exec meeting you need to ask an exec to contact you with the time and place once it is known. Occasionally, we will have to have a meeting about a sensitive topic, which may mean that members won't be able to attend that particular meeting, but these are fortunately very rare.</p>

<!-- End body -->

</body>
</html>