<table class="table table-condensed" style="margin-bottom: 0;">
    <thead>
    <tr>
        <td class="wordwrap">
            Subscribe with your default calender
        </td>
        <td class="wordwrap">
            You can also copy this link into your preferred viewer (such as google calender):
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="wordwrap">
            <a class="btn btn-primary"
               href="webcal://calendar.google.com/calendar/ical/c5dniimpel4004uakujbsi5o9c%40group.calendar.google.com/public/basic.ics">
                Special Events
            </a>
        </td>
        <td class="wordwrap">
            <a class="wordwrap" href="webcal://calendar.google.com/calendar/ical/c5dniimpel4004uakujbsi5o9c%40group.calendar.google.com/public/basic.ics">
                https://calendar.google.com/calendar/ical/c5dniimpel4004uakujbsi5o9c%40group.calendar.google.com/public/basic.ics
            </a>
        </td>
    </tr>
    <tr>
        <td class="wordwrap">
            <a class="btn btn-primary"
               href="webcal://calendar.google.com/calendar/ical/eq5s8sn24qob633p50pb4dm9g0%40group.calendar.google.com/public/basic.ics">
                Wargames
            </a>
        </td>
        <td class="wordwrap">
            <a class="wordwrap" href="webcal://calendar.google.com/calendar/ical/eq5s8sn24qob633p50pb4dm9g0%40group.calendar.google.com/public/basic.ics">
                https://calendar.google.com/calendar/ical/eq5s8sn24qob633p50pb4dm9g0%40group.calendar.google.com/public/basic.ics
            </a>
        </td>
    </tr>
    <tr>
        <td class="wordwrap">
            <a class="btn btn-primary"
               href="webcal://calendar.google.com/calendar/ical/qdbku8db1v9g5l6pl505usnpco%40group.calendar.google.com/public/basic.ics">
                Magic: Draft
            </a>
        </td>
        <td class="wordwrap">
            <a class="wordwrap" href="webcal://calendar.google.com/calendar/ical/qdbku8db1v9g5l6pl505usnpco%40group.calendar.google.com/public/basic.ics">
                https://calendar.google.com/calendar/ical/qdbku8db1v9g5l6pl505usnpco%40group.calendar.google.com/public/basic.ics
            </a>
        </td>
    </tr>
    <tr>
        <td class="wordwrap">
            <a class="btn btn-primary"
               href="webcal://calendar.google.com/calendar/ical/948ckol62k9hp0489kqqk2uqtk%40group.calendar.google.com/public/basic.ics">
                Boardgames
            </a>
        </td>
        <td class="wordwrap">
            <a class="wordwrap" href="webcal://calendar.google.com/calendar/ical/948ckol62k9hp0489kqqk2uqtk%40group.calendar.google.com/public/basic.ics">
                https://calendar.google.com/calendar/ical/948ckol62k9hp0489kqqk2uqtk%40group.calendar.google.com/public/basic.ics
            </a>
        </td>
    </tr>
    <tr>
        <td class="wordwrap">
            <a class="btn btn-primary"
               href="webcal://calendar.google.com/calendar/ical/o48u1g5k1pqup81p4keuacjubk%40group.calendar.google.com/public/basic.ics">
                CCGs
            </a>
        </td>
        <td class="wordwrap">
            <a class="wordwrap" href="webcal://calendar.google.com/calendar/ical/o48u1g5k1pqup81p4keuacjubk%40group.calendar.google.com/public/basic.ics">
                https://calendar.google.com/calendar/ical/o48u1g5k1pqup81p4keuacjubk%40group.calendar.google.com/public/basic.ics
            </a>
        </td>
    </tr>
    <tr>
        <td class="wordwrap">
            <a class="btn btn-primary"
               href="webcal://calendar.google.com/calendar/ical/nqvn3jo98b6q2otou92adul05o%40group.calendar.google.com/public/basic.ics">
                LAPR
            </a>
        </td>
        <td class="wordwrap">
            <a class="wordwrap" href="webcal://calendar.google.com/calendar/ical/nqvn3jo98b6q2otou92adul05o%40group.calendar.google.com/public/basic.ics">
                https://calendar.google.com/calendar/ical/nqvn3jo98b6q2otou92adul05o%40group.calendar.google.com/public/basic.ics
            </a>
        </td>
    </tr>
    </tbody>
</table>