<div class="list-group">
    {% for loan in loans %}
        <a href="{% url "inventory:loan_detail" inv=inv.canonical_ pk=loan.id %}"
           class="list-group-item">
            {% comment %} State Icon {% endcomment %}
            {% if object.rejected %}
                <i class="fas fa-times-circle" style="color: red"></i>
            {% elif object.authorised %}
                {% if object.returned_who %}
                    <i class="fas fa-chevron-circle-left" style="color: purple"></i>
                {% elif object.taken_who %}
                    <i class="fas fa-chevron-circle-right" style="color: darkblue"></i>
                {% else %}
                    {% if object.is_live %}
                        <i class="fas fa-check-circle" style="color: green"></i>
                    {% else %}
                        <i class="fas fa-stop-circle" style="color: gray"></i>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if loan.is_live %}
                    <i class="fas fa-question-circle" style="color: orange"></i>
                {% else %}
                    <i class="fas fa-stop-circle" style="color: gray"></i>
                {% endif %}
            {% endif %}

            {{ loan.requester }}: {{ loan.start_date|date }}-{{ loan.end_date|date }}
            <span class="badge">{{ loan.items.count }}</span>
        </a>
    {% empty %}
        <div class="alert alert-info">You have no active loans!</div>
    {% endfor %}
</div>