{% extends "tgrsite/main.html" %}
{% block title %}Delete Event{% endblock %}
{% block pagetitle %}Delete Event{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "rpgs:index" %}">Events</a></li>
    <li class="breadcrumb-item"><a href="{% url "rpgs:detail" object.pk %}">{{ object.title }}</a></li>
{% endblock %}
{% block breadcrumbs_child %}Delete{% endblock %}

{% block body %}
<form method="post">{% csrf_token %}
    <legend>Are you sure you want to delete your event <em>{{ object.title }}</em>?</legend>
    <input class="btn btn-block btn-outline-danger" type="submit" value="Confirm">
</form>
{% endblock %}