{% load rpg_tags %}

{%if request.GET.status == 'created' %}
<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	RPG successfully created.
</div>
{% endif %}
<div class="panel panel-default">

	<div class="panel-heading">
		<h2>
			<a href="{% url 'rpg' rpg.id %}">{{ rpg.title }}</a>
			<span class="pull-right">
				{% comment TODO %}
				TODO: Find a way to incorporate can_manage?
				{% can_manage user.member rpg %}

				For now just copied the code into the tempate tag and it works fine...
				When this is changed be sure to update rpg_tags!
				{% endcomment %}

				{% if rpg.creator == user.member or user.member in rpg.game_masters.all %}

				{% comment not done :( %}
				<a href="{% url 'rpg_manage' rpg.id %}"><i class="fa fa-user" aria-hidden="true"></i></a>
				{% endcomment %}
				<a href="{% url 'rpg_edit' rpg.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				<a href="{% url 'rpg_delete' rpg.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
				{% endif %}
			</span>
		</h2>

	</div>

	<div class="panel-body">
		<em>{{ rpg.system }}</em>
		<p>{% if rpg.description %}{{ rpg.description }}{% else %}No description{% endif %}</p>
		<br>
		<p>Ran by {{ rpg.game_master_list }}

			{% if rpg.timeslot == rpg.OTHER_TIME %}
				({{rpg.timeslot_str}})
			{% else %}
				on {{ rpg.timeslot_str}}
			{% endif %}
		</p>

		<script>/* enable popovers */$(function(){$('[data-toggle="popover"]').popover({trigger:'hover', html:true})})</script>

		<strong>

		Players <span class="badge">{{ rpg.members.count }} / {{ rpg.players_wanted }}</span><span class="sr-only">:
		{% for member in rpg.members.all %}{{member}},{% endfor%}</span>
		</strong>

		<ul>
			{% for member in rpg.members.all %}
			<li>
				{{member}}
				{%if rpg.creator != member and rpg.creator == user.member %}
					<a href="javascript:{}" onclick="document.getElementById('kick{{member}}').submit();" data-toggle="popover" data-placement="right" data-content="Remove this user from this RPG"><span class="glyphicon glyphicon-remove"></span></a>
					<form action="{% url 'rpg_kick' %}" method="POST" id="kick{{member}}" hidden>
						{% csrf_token %}
						<input type="hidden" name="id" value="{{rpg.id}}">
						<input type="hidden" name="user-to-remove" value="{{member.id}}">
					</form>
				{% endif%}
			</li>
			{% endfor%}
		</ul>

		{%if rpg.creator == user.member %}
			<form action="{% url 'rpg_add_to' %}" method="POST" id="add-member">
				{% csrf_token %}
				<input type="hidden" name="id" value="{{rpg.id}}">
				<input type="text" name="username" autocomplete="off" data-provide="typeahead" id="add-member-input">
				<input class="btn btn-default" type="submit" value="Add">
			</form>
		{% endif%}

		{% comment todo %}
		TODO: If user is in the current game, replace this with a 'leave' link
		TODO: create 'manage' widget for people who own/are GMs of a game
		{% endcomment %}

		{% comment TODO: THIS %} {% endcomment %}
		{% if request.user.is_authenticated %}
			{% is_player rpg as on %}
			{% if on %}
				<form action="{% url 'rpg_leave' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{rpg.id}}">
					<input class="btn btn-default" type="submit" value="Leave">
				</form>
			{% else %}
				<form action="{% url 'rpg_join'%}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="id" value="{{rpg.id}}">
					<input class="btn btn-default" type="submit" value="Join">
				</form>
			{% endif %}
		{% endif %}

		<script type="text/javascript">
			$.get("{% url 'allmembers' %}", function(data) {
				$("#add-member-input").typeahead({source: data})
			}, 'json');
		</script>
	</div>
</div>
{% if not embed %}
<a href="{% url 'rpgs' %}">Back to list</a>
{% endif %}
