{% extends "tgrsite/main.html" %}
{% block title %}{{ rpg.title }}{% endblock %}
{% block pagetitle %}{{ rpg.title }}{% endblock %}

{% block breadcrumbs_parents %}
    <li class="breadcrumb-item"><a href="{% url "rpgs:index" %}">Events</a></li>
{% endblock %}
{% block breadcrumbs_child %}{{ rpg.title }}{% endblock %}

{% block body %}
    {% include "rpgs/parts/event.html" %}
{% endblock %}

{% block bottomscripts %}
    {{ block.super }}
    {% include "parts/user_typeahead.html" %}
{% endblock %}