{% extends "tgrsite/main.html" %}

{% load rpg_tags %}
{% load pagination_tags %}

{% block title %}Events{% endblock %}
{% block pagetitle %}Events{% endblock %}

{% block breadcrumbs_child %}Events{% endblock %}

{% block leftcontents %}
    {{ block.super }}
    {% if perms.rpgs.edit_rpg %}
        <a class="btn btn-block btn-outline-dark mb-3" href="{% url "admin:rpgs_rpg_changelist" %}">Edit</a>
    {% endif %}
    <div class="card card-body">
        <h4 class="card-title">Filter by...</h4>
        <form class="">
            <input id="events_filtered" name="isfilter" type="hidden" value="on">
            <fieldset class="form-group">
                <label class="sr-only" for="events_tag">Tag:</label>
                <input id="events_tag" class="form-control add-tag-input" data-provide="typeahead" autocomplete="off" name="tag" placeholder="Tag" value="{{ request.GET.tag }}">
            </fieldset>
            <fieldset class="form-group">
                <label class="sr-only" for="events_user">User:</label>
                <input id="events_user" class="form-control add-member-input" data-provide="typeahead" autocomplete="off" name="user" placeholder="Username" value="{{ request.GET.user }}">
            </fieldset>
            <fieldset class="form-group">
            <h4 class="card-text">Show...</h4>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="showfull" id="events_showfull"
                           {% if request.GET.showfull or not request.GET.isfilter %}checked{% endif %}>
                    <label class="form-check-label" for="events_showfull">
                        Full Events
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="showfinished" id="events_showfinished"
                           {% if request.GET.showfinished %}checked{% endif %}>
                    <label class="form-check-label" for="events_showfinished">
                        Completed Events
                    </label>
                </div>
            </fieldset>
            <button class="btn btn-block btn-outline-primary" type="submit">Filter</button>
        </form>
    </div>
{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}
        <p><a href="{% url 'rpgs:create' %}">
            <button class="btn btn-block btn-outline-primary">Create event</button>
        </a></p>
    {% endif %}

    {% for rpg in rpgs %}
        {% include "rpgs/parts/event.html" with rpg=rpg embed=True %}
    {% empty %}
        <div class="card">
            <div class="card-body">
                <p class="card-text text-muted">No matching events. Maybe relax your filters?</p>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% include "parts/pagination.html" %}
    {% endif %}

{% endblock %}
{% block bottomscripts %}
    {{ block.super }}
    {% include "parts/user_typeahead.html" %}
    {% include "parts/tag_typeahead.html" %}
{% endblock %}

